In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(1234)

In [3]:
data = pd.DataFrame(np.random.randn(1000,4))

In [5]:
data.head()

          0         1         2         3
0  0.471435 -1.190976  1.432707 -0.312652
1 -0.720589  0.887163  0.859588 -0.636524
2  0.015696 -2.242685  1.150036  0.991946
3  0.953324 -2.021255 -0.334077  0.002118
4  0.405453  0.289092  1.321158 -1.546906

In [6]:
data.shape

(1000, 4)

In [7]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.013461    -0.019438    -0.008173     0.097832
std       0.986772     1.015322     0.954209     0.978583
min      -3.434819    -3.563517    -3.880898    -2.597720
25%      -0.641560    -0.703204    -0.626422    -0.572872
50%       0.034928    -0.013105    -0.022875     0.062512
75%       0.680404     0.643578     0.622222     0.783355
max       2.651999     3.220568     2.679854     3.125635

In [8]:
col = data[3]

In [10]:
col.head()

0   -0.312652
1   -0.636524
2    0.991946
3    0.002118
4   -1.546906
Name: 3, dtype: float64

In [11]:
col.shape

(1000,)

### 원본의 위치를 확인한다.

In [17]:
col.base

array([[ 0.47143516, -1.19097569,  1.43270697, -0.3126519 ],
       [-0.72058873,  0.88716294,  0.85958841, -0.6365235 ],
       [ 0.01569637, -2.24268495,  1.15003572,  0.99194602],
       ...,
       [ 0.5250204 , -0.01224991, -0.48440291,  0.76112509],
       [-0.30700137, -0.21584788, -0.75089407,  0.2833529 ],
       [-0.12090136,  0.70299694, -0.31859876,  0.2326148 ]])

### 3 을 초고하는 값을 찾는다.

In [16]:
col[np.abs(col) > 3]

326    3.125635
Name: 3, dtype: float64

### 전체 데이터에서 3보다 큰 수를 확인

In [20]:
(np.abs(data) > 3).any(1)

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20      True
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
970    False
971    False
972    False
973    False
974    False
975    False
976    False
977    False
978    False
979    False
980    False
981     True
982    False
983    False
984    False
985    False
986    False
987    False
988    False
989    False
990    False
991    False
992    False
993    False
994    False
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

### 이 조건에 맞는 True의 개수를 합산하면 실제 범위가 만족하는 개수를 알 수 있다.

In [21]:
(np.abs(data) > 3).any(1).sum()

8

In [19]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
20   0.464392 -3.563517  1.321106  0.152631
326  0.175091 -1.241138  0.614358  3.125635
333 -0.368085  3.109635 -0.623207  0.977718
417 -0.064638 -1.204956 -3.880898  0.974470
513  1.148495 -3.277304 -1.363946  1.564687
572 -0.711204  3.220568 -0.120112  0.342958
784 -3.233505  0.200243 -0.139337 -0.037094
981 -3.434819 -0.070283 -0.278044 -0.458230

In [30]:
data[(np.abs(data) < 3)].describe()

                0           1           2           3
count  998.000000  996.000000  999.000000  999.000000
mean     0.020169   -0.019004   -0.004296    0.094801
std      0.976282    0.995661    0.946776    0.974366
min     -2.944573   -2.666952   -2.623004   -2.597720
25%     -0.638283   -0.699205   -0.624548   -0.573275
50%      0.036175   -0.013105   -0.020457    0.061641
75%      0.680572    0.639417    0.624407    0.779965
max      2.651999    2.763844    2.679854    2.833683