In [1]:
import pandas as pd

## Series

In [2]:
s = pd.Series([1,2,3,4])

In [3]:
s

0    1
1    2
2    3
3    4
dtype: int64

### 인덱스가 키로가고 시리지 값은 각 인덱스의 값으로 가는 딕셔너리 구조

In [8]:
d_s = dict(s)

In [9]:
d_s

{0: 1, 1: 2, 2: 3, 3: 4}

In [10]:
s1 = pd.Series(d_s)

In [11]:
s1

0    1
1    2
2    3
3    4
dtype: int64

## DataFrame

In [5]:
df = pd.DataFrame([1,2,3,4])

In [6]:
df

   0
0  1
1  2
2  3
3  4

### 칼럼명은 키로 가고 칼럼의 값은 값으로 가는 딕셔너리 구조

In [12]:
d_df = dict(df)

In [13]:
d_df

{0: 0    1
 1    2
 2    3
 3    4
 Name: 0, dtype: int64}

In [14]:
df1 = pd.DataFrame(d_df)

In [15]:
df1

   0
0  1
1  2
2  3
3  4