In [19]:
import pandas as pd
import numpy as np

In [2]:
for i in dir(pd) :
    if not i.startswith("_") :
        print(i)

Categorical
CategoricalIndex
DataFrame
DateOffset
DatetimeIndex
ExcelFile
ExcelWriter
Expr
Float64Index
Grouper
HDFStore
Index
IndexSlice
Int64Index
Interval
IntervalIndex
MultiIndex
NaT
Panel
Panel4D
Period
PeriodIndex
RangeIndex
Series
SparseArray
SparseDataFrame
SparseList
SparseSeries
Term
TimeGrouper
Timedelta
TimedeltaIndex
Timestamp
UInt64Index
WidePanel
api
bdate_range
compat
concat
core
crosstab
cut
date_range
datetime
datetools
describe_option
errors
eval
ewma
ewmcorr
ewmcov
ewmstd
ewmvar
ewmvol
expanding_apply
expanding_corr
expanding_count
expanding_cov
expanding_kurt
expanding_max
expanding_mean
expanding_median
expanding_min
expanding_quantile
expanding_skew
expanding_std
expanding_sum
expanding_var
factorize
get_dummies
get_option
get_store
groupby
infer_freq
interval_range
io
isnull
json
lib
lreshape
match
melt
merge
merge_asof
merge_ordered
notnull
np
offsets
option_context
options
ordered_merge
pandas
parser
period_range
pivot
pivot_table
plot_params
plotting
pnow
qcut
read_clipboard
read_csv
read_excel
read_feather
read_fwf
read_gbq
read_hdf
read_html
read_json
read_msgpack
read_pickle
read_sas
read_sql
read_sql_query
read_sql_table
read_stata
read_table
reset_option
rolling_apply
rolling_corr
rolling_count
rolling_cov
rolling_kurt
rolling_max
rolling_mean
rolling_median
rolling_min
rolling_quantile
rolling_skew
rolling_std
rolling_sum
rolling_var
rolling_window
scatter_matrix
set_eng_float_format
set_option
show_versions
stats
test
testing
timedelta_range
to_datetime
to_msgpack
to_numeric
to_pickle
to_timedelta
tools
tseries
tslib
unique
util
value_counts
wide_to_long

In [4]:
%%writefile data/datatypes.csv
feature,type
Loan_ID,categorical
Gender,categorical
Married,categorical
Dependents,categorical
Education,categorical
Self_Employed,categorical
ApplicantIncome,continuous
CoapplicantIncome,continuous
LoanAmount,continuous
Loan_Amount_Term,continuous
Credit_History,categorical
Property_Area,categorical
Loan_Status,categorical

Writing data/datatypes.csv

In [6]:
colTypes = pd.read_csv('data/datatypes.csv')

In [7]:
colTypes

              feature         type
0             Loan_ID  categorical
1              Gender  categorical
2             Married  categorical
3          Dependents  categorical
4           Education  categorical
5       Self_Employed  categorical
6     ApplicantIncome   continuous
7   CoapplicantIncome   continuous
8          LoanAmount   continuous
9    Loan_Amount_Term   continuous
10     Credit_History  categorical
11      Property_Area  categorical
12        Loan_Status  categorical

In [31]:
data = pd.Series(1,index=colTypes['feature'])

In [32]:
data

feature
Loan_ID              1
Gender               1
Married              1
Dependents           1
Education            1
Self_Employed        1
ApplicantIncome      1
CoapplicantIncome    1
LoanAmount           1
Loan_Amount_Term     1
Credit_History       1
Property_Area        1
Loan_Status          1
dtype: int64

In [33]:
type(data)

pandas.core.series.Series

## iterrows로 반복자 처리

In [36]:
for i, row in colTypes.iterrows() :
    print(i, row)

0 feature        Loan_ID
type       categorical
Name: 0, dtype: object
1 feature         Gender
type       categorical
Name: 1, dtype: object
2 feature        Married
type       categorical
Name: 2, dtype: object
3 feature     Dependents
type       categorical
Name: 3, dtype: object
4 feature      Education
type       categorical
Name: 4, dtype: object
5 feature    Self_Employed
type         categorical
Name: 5, dtype: object
6 feature    ApplicantIncome
type            continuous
Name: 6, dtype: object
7 feature    CoapplicantIncome
type              continuous
Name: 7, dtype: object
8 feature    LoanAmount
type       continuous
Name: 8, dtype: object
9 feature    Loan_Amount_Term
type             continuous
Name: 9, dtype: object
10 feature    Credit_History
type          categorical
Name: 10, dtype: object
11 feature    Property_Area
type         categorical
Name: 11, dtype: object
12 feature    Loan_Status
type       categorical
Name: 12, dtype: object

## 행을 하나의 시리즈로 읽고 처리한다.

In [37]:
row

feature    Loan_Status
type       categorical
Name: 12, dtype: object

In [34]:
for i, row in colTypes.iterrows():  #i: dataframe index; row: each row in series format
    if row['type']=="categorical":
        data[row['feature']]=data[row['feature']].astype(np.object)
    elif row['type']=="continuous":
        data[row['feature']]=data[row['feature']].astype(np.float)

In [35]:
data

feature
Loan_ID              1
Gender               1
Married              1
Dependents           1
Education            1
Self_Employed        1
ApplicantIncome      1
CoapplicantIncome    1
LoanAmount           1
Loan_Amount_Term     1
Credit_History       1
Property_Area        1
Loan_Status          1
dtype: int64

In [38]:
data.astype(np.object)

feature
Loan_ID              1
Gender               1
Married              1
Dependents           1
Education            1
Self_Employed        1
ApplicantIncome      1
CoapplicantIncome    1
LoanAmount           1
Loan_Amount_Term     1
Credit_History       1
Property_Area        1
Loan_Status          1
dtype: object