In [1]:
import pandas as pd

In [2]:
import seaborn as sns

planets = sns.load_dataset('planets')

In [3]:
planets.shape

(1035, 6)

In [4]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

###  데이터 프레임에서 집계함수의 결과는 열별로 표시한다.

In [5]:
planets.mean()

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

### 키워드 인자로 axis='columns'를 넣으면 행으로도 계산한다.

In [7]:
planets.mean(axis='columns').head()

0    472.1600
1    588.5868
2    559.4880
3    492.8100
4    531.2380
dtype: float64

### 누락된 값을 제거하고 전체의 집계를 알아보기

In [8]:
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

### 절대 평균편차

In [9]:
planets.mad()

number               0.903144
orbital_period    3181.747643
mass                 2.580056
distance           318.100885
year                 3.056798
dtype: float64

###  빈도 알아보기

In [11]:
help(planets.mode)

Help on method mode in module pandas.core.frame:

mode(axis=0, numeric_only=False) method of pandas.core.frame.DataFrame instance
    Gets the mode(s) of each element along the axis selected. Adds a row
    for each mode per label, fills in gaps with nan.

    Note that there could be multiple values returned for the selected
    axis (when more than one item share the maximum frequency), which is
    the reason why a dataframe is returned. If you want to impute missing
    values with the mode in a dataframe ``df``, you can just do this:
    ``df.fillna(df.mode().iloc[0])``

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        * 0 or 'index' : get mode of each column
        * 1 or 'columns' : get mode of each row
    numeric_only : boolean, default False
        if True, only apply to numeric columns

    Returns
    -------
    modes : DataFrame (sorted)

    Examples
    --------
    >>> df = pd.DataFrame({'A': [1, 2, 1, 2, 1, 2, 3]})
    >>> df.mode()
       A
    0  1
    1  2

In [10]:
planets.mode()

            method  number  orbital_period  mass  distance    year
0  Radial Velocity     1.0           123.0   1.8     780.0  2011.0
1              NaN     NaN           428.5   1.9       NaN     NaN
2              NaN     NaN           883.0   NaN       NaN     NaN
3              NaN     NaN          1845.0   NaN       NaN     NaN