# 주요 함수

In [1]:
import pandas as pd
import numpy as np

# concat  통합하기 

    이어붙이기를 하기

### 이 함수는 기본적으로 join은 outer를 기준으로 처리한다.

    병합하는 이유는 objs는 리스트로 여러 개를 넣어서 처리할 수 있다.

In [2]:
help(pd.concat)

Help on function concat in module pandas.core.reshape.concat:

concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)
    Concatenate pandas objects along a particular axis with optional set logic
    along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series, DataFrame, or Panel objects
        If a dict is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis(es)
    join_axes : list of Index objects
        Specific indexes to use for the other n - 1 axes instead of performing
        inner/outer set logic
    ignore_index : boolean, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys
    names : list, default None
        Names for the levels in the resulting hierarchical index
    verify_integrity : boolean, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation
    copy : boolean, default True
        If False, do not copy data unnecessarily

    Returns
    -------
    concatenated : type of objects

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    panda objects can be found `here
    <http://pandas.pydata.org/pandas-docs/stable/merging.html>`__.

    See Also
    --------
    Series.append
    DataFrame.append
    DataFrame.join
    DataFrame.merge

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2',])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3])
      animal letter  number
    0    NaN      a       1
    1    NaN      b       2
    0    cat      c       3
    1    dog      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    ValueError: Indexes have overlapping values: ['a']

## Series를 가지고 concat을 처리

In [3]:
s1 = pd.Series([0,1],index=['a','b'])

In [4]:
s1

a    0
b    1
dtype: int64

In [5]:
s2 = pd.Series([2,3,4], index=['c','b','a'])

In [6]:
s2

c    2
b    3
a    4
dtype: int64

In [7]:
s3 = pd.Series([5,6],index=['f','g'])

In [8]:
s3

f    5
g    6
dtype: int64

## 세로로 연결하기

### 두개의 시리즈를 세로로 병합하기

In [9]:
pd.concat([s1,s2])

a    0
b    1
c    2
b    3
a    4
dtype: int64

### 3개의 시리즈를 세로로 병합하기

In [10]:
pd.concat([s1,s2,s3])

a    0
b    1
c    2
b    3
a    4
f    5
g    6
dtype: int64

### 키 인자를 추가할 경우는 멀티 인덱스가 처리

In [11]:
s4 = pd.concat([s1, s2], keys=['s1', 's2',])

In [12]:
s4

s1  a    0
    b    1
s2  c    2
    b    3
    a    4
dtype: int64

In [13]:
s4.index

MultiIndex(levels=[['s1', 's2'], ['a', 'b', 'c']],
           labels=[[0, 0, 1, 1, 1], [0, 1, 2, 1, 0]])

## 가로로 병합할 때는 데이터프레임이 만들어진다.

### 가로로 병합하기

    시리즈를 통합하면 데이터프레임으로 만들어진다.

In [14]:
s5 = pd.concat([s1,s2],axis=1)

In [15]:
s5

     0  1
a  0.0  4
b  1.0  3
c  NaN  2

In [16]:
type(s5)

pandas.core.frame.DataFrame

In [17]:
s5.index

Index(['a', 'b', 'c'], dtype='object')

In [18]:
s5.columns

RangeIndex(start=0, stop=2, step=1)

### 가로로 추가시 키를 넣어서 만들면 키는 칼럼의 인덱스가 된다

In [14]:
s6 = pd.concat([s1,s2],axis=1,keys=['s1','s2'])

In [15]:
s6

    s1  s2
a  0.0   4
b  1.0   3
c  NaN   2

In [16]:
s6.columns

Index(['s1', 's2'], dtype='object')

In [17]:
s6.index

Index(['a', 'b', 'c'], dtype='object')

## 병합할 때 조인처리

### 조인처리하기

    join 처리할 때 기본은 outer이다.

### 두 시리즈가 매핑되는 것만 처리하기: 내부조인

In [18]:
pd.concat([s1,s2],axis=1,join='inner')

   0  1
a  0  4
b  1  3

In [19]:
pd.concat([s1,s2],axis=1,join='outer')

     0  1
a  0.0  4
b  1.0  3
c  NaN  2

In [20]:
pd.concat([s1,s2],axis=1)

     0  1
a  0.0  4
b  1.0  3
c  NaN  2

## 조인에 대한 축을 명확히 주기위해 join_axes를 사용한다.

In [29]:
list(s1.index)

['a', 'b']

In [26]:
pd.concat([s1,s2,s3], axis=1,join_axes=[s1.index])

   0  1   2
a  0  4 NaN
b  1  3 NaN

In [27]:
pd.concat([s1,s2,s3], axis=1,join_axes=[s2.index])

     0  1   2
c  NaN  2 NaN
b  1.0  3 NaN
a  0.0  4 NaN

In [24]:
pd.concat([s1,s2,s3], axis=1,join_axes=[s3.index])

    0   1  2
f NaN NaN  5
g NaN NaN  6

### 여러 개의 시리즈를 통합해서 join_axes를 만들때는 중복된 것을 제거해서 인덱스를 만들어야 한다.

In [32]:
ss = list(s1.index) + list(s2.index) + list(s3.index)

In [36]:
ss = set(ss)

In [38]:
ss

{'a', 'b', 'c', 'f', 'g'}

In [39]:
list(ss)

['f', 'a', 'g', 'c', 'b']

In [48]:
sl = list(ss)

In [49]:
sl.sort()

In [50]:
sl

['a', 'b', 'c', 'f', 'g']

In [35]:
pd.concat([s1,s2,s3], axis=1)

     0    1    2
a  0.0  4.0  NaN
b  1.0  3.0  NaN
c  NaN  2.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [41]:
pd.concat([s1,s2,s3], axis=1,join_axes=list(ss).sort())

     0    1    2
a  0.0  4.0  NaN
b  1.0  3.0  NaN
c  NaN  2.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [49]:
type(pd.concat([s1,s2,s3], axis=1))

pandas.core.frame.DataFrame

## 기본적으로 외부조인이므로 실제 내부조인으로 하면 겹치는 원소가 존재하지 않아 아무것도 만들어지지 않는다.

In [37]:
pd.concat([s1,s2,s3], axis=1, join='inner')

Empty DataFrame
Columns: [0, 1, 2]
Index: []

### 실제 출력하는 축인 인덱스 대해서만 정의하기

   join_axes 내부의 값이 하나만 처리

In [52]:
pd.concat([s1,s2], axis=1, join_axes=[['a','b','c']])

     0  1
a  0.0  4
b  1.0  3
c  NaN  2

## 실제 차원을 변경한다.

    데이터 프레임은 2차원이므로 unstack을 처리하면 시리즈로 전환되면서 하나의 차원이 축소된다.
    축소된 차원은 인덱스로 전환되어 처리된다.

## unstack 처리하기

    실제 데이터 프레임으로 만들어진 것을 시리즈로 풀어서 본다

In [54]:
pd.concat([s1,s2,s3], axis=1)

     0    1    2
a  0.0  4.0  NaN
b  1.0  3.0  NaN
c  NaN  2.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [62]:
help(pd.Series.unstack)

Help on function unstack in module pandas.core.series:

unstack(self, level=-1, fill_value=None)
    Unstack, a.k.a. pivot, Series with MultiIndex to produce DataFrame.
    The level involved will automatically get sorted.

    Parameters
    ----------
    level : int, string, or list of these, default last level
        Level(s) to unstack, can pass level name
    fill_value : replace NaN with this value if the unstack produces
        missing values

        .. versionadded: 0.18.0

    Examples
    --------
    >>> s = pd.Series([1, 2, 3, 4],
    ...     index=pd.MultiIndex.from_product([['one', 'two'], ['a', 'b']]))
    >>> s
    one  a    1
         b    2
    two  a    3
         b    4
    dtype: int64

    >>> s.unstack(level=-1)
         a  b
    one  1  2
    two  3  4

    >>> s.unstack(level=0)
       one  two
    a    1    3
    b    2    4

    Returns
    -------
    unstacked : DataFrame

### 멀티인덱스를 카디시언 프로덕트로 처리

In [21]:
a = pd.MultiIndex.from_product([['one', 'two'], ['a', 'b']])

In [22]:
a

MultiIndex(levels=[['one', 'two'], ['a', 'b']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [24]:
s = pd.Series([1, 2, 3, 4],
              index=pd.MultiIndex.from_product([['one', 'two'], ['a', 'b']]))

In [25]:
s

one  a    1
     b    2
two  a    3
     b    4
dtype: int64

In [26]:
s.index

MultiIndex(levels=[['one', 'two'], ['a', 'b']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

### 시리즈를 가지고 unstack 처리하면 데이터프레임으로 변환다

In [27]:
s.unstack()

     a  b
one  1  2
two  3  4

### 멀티 인덱스 내의 레벨을 주면 그 레벨이 칼럼으로 변환한다.

In [28]:
s.unstack(level=0)

   one  two
a    1    3
b    2    4

In [29]:
s.unstack(level=1)

     a  b
one  1  2
two  3  4

## 데이터프레임을 만들고 바로 언스택처리

### 시리즈를 병합해서 데이터프레임임을 만들고 이를 unstack 처리하면 멀티인덱스를 가진 시리즈가 만들어진다.

In [30]:
pd.concat([s1,s2,s3], axis=1)

     0    1    2
a  0.0  4.0  NaN
b  1.0  3.0  NaN
c  NaN  2.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [31]:
un = pd.concat([s1,s2,s3], axis=1).unstack()

In [32]:
un

0  a    0.0
   b    1.0
   c    NaN
   f    NaN
   g    NaN
1  a    4.0
   b    3.0
   c    2.0
   f    NaN
   g    NaN
2  a    NaN
   b    NaN
   c    NaN
   f    5.0
   g    6.0
dtype: float64

In [58]:
un.index

MultiIndex(levels=[[0, 1, 2], ['a', 'b', 'c', 'f', 'g']],
           labels=[[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2], [0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]])

In [59]:
type(un)

pandas.core.series.Series

## 시리즈에서 다시 unstack를 하면 데이터 프레임이 만들어진다.

In [66]:
un.unstack()

     a    b    c    f    g
0  0.0  1.0  NaN  NaN  NaN
1  4.0  3.0  2.0  NaN  NaN
2  NaN  NaN  NaN  5.0  6.0

## 데이터프레임에서 stack 메소드 처리

In [56]:
help(pd.DataFrame.stack)

Help on function stack in module pandas.core.frame:

stack(self, level=-1, dropna=True)
    Pivot a level of the (possibly hierarchical) column labels, returning a
    DataFrame (or Series in the case of an object with a single level of
    column labels) having a hierarchical index with a new inner-most level
    of row labels.
    The level involved will automatically get sorted.

    Parameters
    ----------
    level : int, string, or list of these, default last level
        Level(s) to stack, can pass level name
    dropna : boolean, default True
        Whether to drop rows in the resulting Frame/Series with no valid
        values

    Examples
    ----------
    >>> s
         a   b
    one  1.  2.
    two  3.  4.

    >>> s.stack()
    one a    1
        b    2
    two a    3
        b    4

    Returns
    -------
    stacked : DataFrame or Series

###  시리즈에는 stack 메소드가 없다.

In [60]:
un.stack()

AttributeError: 'Series' object has no attribute 'stack'

### 데이터 프레임을 만든다.

In [33]:
dff = pd.DataFrame([[1,2],[3,4]], index=['one','two'], columns=['a','b'])

In [34]:
dff

     a  b
one  1  2
two  3  4

In [35]:
type(dff)

pandas.core.frame.DataFrame

### 시리즈로 변환하면 멀티 인덱스로 변환하고 실제 값만 저장

In [36]:
s_dff = dff.stack()

In [37]:
s_dff

one  a    1
     b    2
two  a    3
     b    4
dtype: int64

In [38]:
s_dff.index

MultiIndex(levels=[['one', 'two'], ['a', 'b']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

##  unstack과 차이 점은 stack으로 처리하면 nan 값을 제거해서 보여준다

In [39]:
pd.concat([s1,s2,s3], axis=1).stack()

a  0    0.0
   1    4.0
b  0    1.0
   1    3.0
c  1    2.0
f  2    5.0
g  2    6.0
dtype: float64

In [41]:
pd.concat([s1,s2,s3], axis=1).unstack()

0  a    0.0
   b    1.0
   c    NaN
   f    NaN
   g    NaN
1  a    4.0
   b    3.0
   c    2.0
   f    NaN
   g    NaN
2  a    NaN
   b    NaN
   c    NaN
   f    5.0
   g    6.0
dtype: float64

In [40]:
type(pd.concat([s1,s2,s3], axis=1).stack())

pandas.core.series.Series

# 데이터프레임으로 병합

In [69]:
df = pd.DataFrame(np.arange(16).reshape(4,4), columns=['a','b','c','d'])
print(df)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [70]:
df2 = pd.DataFrame(np.arange(25).reshape(5,5), columns=['a','b','c','d','e'])
print(df2)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

### 일한 데이터프레임을 결할 때 기본은 세로로 병합되어 처리 됨

In [5]:
df_c = pd.concat([df,df])

In [6]:
df_c

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### 다른 두개의 데이터 프레임일 경우 아웃조인이므로 없는 값에 대해서는 nan으로 처리

In [45]:
df_d = pd.concat([df,df2])

In [46]:
df_d

    a   b   c   d     e
0   0   1   2   3   NaN
1   4   5   6   7   NaN
2   8   9  10  11   NaN
3  12  13  14  15   NaN
0   0   1   2   3   4.0
1   5   6   7   8   9.0
2  10  11  12  13  14.0
3  15  16  17  18  19.0
4  20  21  22  23  24.0

### 실제 데이터프레밍을 가지고 stack으로 시리즈로 전환하기

In [69]:
s_df_d = df_d.stack()

In [70]:
s_df_d.index

MultiIndex(levels=[[0, 1, 2, 3, 4], ['a', 'b', 'c', 'd', 'e']],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4], [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]])

In [72]:
s_df_d.values

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,   0.,   1.,   2.,   3.,   4.,   5.,
         6.,   7.,   8.,   9.,  10.,  11.,  12.,  13.,  14.,  15.,  16.,
        17.,  18.,  19.,  20.,  21.,  22.,  23.,  24.])

In [71]:
s_df_d

0  a     0.0
   b     1.0
   c     2.0
   d     3.0
1  a     4.0
   b     5.0
   c     6.0
   d     7.0
2  a     8.0
   b     9.0
   c    10.0
   d    11.0
3  a    12.0
   b    13.0
   c    14.0
   d    15.0
0  a     0.0
   b     1.0
   c     2.0
   d     3.0
   e     4.0
1  a     5.0
   b     6.0
   c     7.0
   d     8.0
   e     9.0
2  a    10.0
   b    11.0
   c    12.0
   d    13.0
   e    14.0
3  a    15.0
   b    16.0
   c    17.0
   d    18.0
   e    19.0
4  a    20.0
   b    21.0
   c    22.0
   d    23.0
   e    24.0
dtype: float64

### 가로로 병합을 하려면 축을 인자로 넣어야 한다.

In [7]:
pd.concat([df,df],axis=1)

    a   b   c   d   a   b   c   d
0   0   1   2   3   0   1   2   3
1   4   5   6   7   4   5   6   7
2   8   9  10  11   8   9  10  11
3  12  13  14  15  12  13  14  15

### 부족한 값은 nan으로 자동으로 처리된다.

In [47]:
pd.concat([df,df2],axis=1)

      a     b     c     d   a   b   c   d   e
0   0.0   1.0   2.0   3.0   0   1   2   3   4
1   4.0   5.0   6.0   7.0   5   6   7   8   9
2   8.0   9.0  10.0  11.0  10  11  12  13  14
3  12.0  13.0  14.0  15.0  15  16  17  18  19
4   NaN   NaN   NaN   NaN  20  21  22  23  24

###  열이 다른 경우에는 횡으로 붙이면 원소가 불일지 되는 곳에는 NaN으로 처리

In [30]:
df1 = pd.DataFrame(np.arange(16,32).reshape(4,4), index=[11,12,13,14],columns=['a','b','c','d'])
print(df1)

     a   b   c   d
11  16  17  18  19
12  20  21  22  23
13  24  25  26  27
14  28  29  30  31

In [71]:
pd.concat([df,df2],axis=0)

    a   b   c   d     e
0   0   1   2   3   NaN
1   4   5   6   7   NaN
2   8   9  10  11   NaN
3  12  13  14  15   NaN
0   0   1   2   3   4.0
1   5   6   7   8   9.0
2  10  11  12  13  14.0
3  15  16  17  18  19.0
4  20  21  22  23  24.0

## 조인을 이용해서 처리하기

### 결합할 때 교집합을 처리

    기본적으로 join은 outer이므로 inner를 정의해서 출력

In [32]:
pd.concat([df,df1],join='inner')

     a   b   c   d
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
11  16  17  18  19
12  20  21  22  23
13  24  25  26  27
14  28  29  30  31

###  데이터 프렘임일 경우는 병합할 때 조인에 대한 기준 축인 칼럼을 부여할 수 있다.

In [33]:
df1.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [34]:
pd.concat([df,df1],join_axes=[df1.columns])

     a   b   c   d
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
11  16  17  18  19
12  20  21  22  23
13  24  25  26  27
14  28  29  30  31

### 붙이기 할 때 세부적인 같이 없을 경우는 nan 처리

In [35]:
pd.concat([df,df1],axis=1)

       a     b     c     d     a     b     c     d
0    0.0   1.0   2.0   3.0   NaN   NaN   NaN   NaN
1    4.0   5.0   6.0   7.0   NaN   NaN   NaN   NaN
2    8.0   9.0  10.0  11.0   NaN   NaN   NaN   NaN
3   12.0  13.0  14.0  15.0   NaN   NaN   NaN   NaN
11   NaN   NaN   NaN   NaN  16.0  17.0  18.0  19.0
12   NaN   NaN   NaN   NaN  20.0  21.0  22.0  23.0
13   NaN   NaN   NaN   NaN  24.0  25.0  26.0  27.0
14   NaN   NaN   NaN   NaN  28.0  29.0  30.0  31.0

In [13]:
pd.concat([df,df1],axis=1,join='outer')

       a     b     c     d     a     b     c     d
0    0.0   1.0   2.0   3.0   NaN   NaN   NaN   NaN
1    4.0   5.0   6.0   7.0   NaN   NaN   NaN   NaN
2    8.0   9.0  10.0  11.0   NaN   NaN   NaN   NaN
3   12.0  13.0  14.0  15.0   NaN   NaN   NaN   NaN
11   NaN   NaN   NaN   NaN  16.0  17.0  18.0  19.0
12   NaN   NaN   NaN   NaN  20.0  21.0  22.0  23.0
13   NaN   NaN   NaN   NaN  24.0  25.0  26.0  27.0
14   NaN   NaN   NaN   NaN  28.0  29.0  30.0  31.0

# append 함수로 처리

In [72]:
pd.Series.append

In [73]:
help(pd.Series.append)

Help on function append in module pandas.core.series:

append(self, to_append, ignore_index=False, verify_integrity=False)
    Concatenate two or more Series.

    Parameters
    ----------
    to_append : Series or list/tuple of Series
    ignore_index : boolean, default False
        If True, do not use the index labels.

        .. versionadded: 0.19.0

    verify_integrity : boolean, default False
        If True, raise Exception on creating index with duplicates

    Returns
    -------
    appended : Series

    Examples
    --------
    >>> s1 = pd.Series([1, 2, 3])
    >>> s2 = pd.Series([4, 5, 6])
    >>> s3 = pd.Series([4, 5, 6], index=[3,4,5])
    >>> s1.append(s2)
    0    1
    1    2
    2    3
    0    4
    1    5
    2    6
    dtype: int64

    >>> s1.append(s3)
    0    1
    1    2
    2    3
    3    4
    4    5
    5    6
    dtype: int64

    With `ignore_index` set to True:

    >>> s1.append(s2, ignore_index=True)
    0    1
    1    2
    2    3
    3    4
    4    5
    5    6
    dtype: int64

    With `verify_integrity` set to True:

    >>> s1.append(s2, verify_integrity=True)
    Traceback (most recent call last):
    ...
    ValueError: Indexes have overlapping values: [0, 1, 2]

In [75]:
s1

a    0
b    1
dtype: int64

In [76]:
s2

c    2
b    3
a    4
dtype: int64

In [74]:
s1.append(s2)

a    0
b    1
c    2
b    3
a    4
dtype: int64

In [77]:
s1.append(s2,ignore_index=True)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [74]:
help(pd.DataFrame.append)

Help on function append in module pandas.core.frame:

append(self, other, ignore_index=False, verify_integrity=False)
    Append rows of `other` to the end of this frame, returning a new
    object. Columns not in this frame are added as new columns.

    Parameters
    ----------
    other : DataFrame or Series/dict-like object, or list of these
        The data to append.
    ignore_index : boolean, default False
        If True, do not use the index labels.
    verify_integrity : boolean, default False
        If True, raise ValueError on creating index with duplicates.

    Returns
    -------
    appended : DataFrame

    Notes
    -----
    If a list of dict/series is passed and the keys are all contained in
    the DataFrame's index, the order of the columns in the resulting
    DataFrame will be unchanged.

    See also
    --------
    pandas.concat : General function to concatenate DataFrame, Series
        or Panel objects

    Examples
    --------

    >>> df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
    >>> df
       A  B
    0  1  2
    1  3  4
    >>> df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
    >>> df.append(df2)
       A  B
    0  1  2
    1  3  4
    0  5  6
    1  7  8

    With `ignore_index` set to True:

    >>> df.append(df2, ignore_index=True)
       A  B
    0  1  2
    1  3  4
    2  5  6
    3  7  8

## 3개의 데이터프레임을 병합하기

In [80]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                   'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

In [81]:
frames = [df1, df2, df3]

result = pd.concat(frames)

In [82]:
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

### append로 붙이기는 새로윤 데이터 프레임 객체를 만든다.

In [83]:
df4 = df2.append(df3)

In [84]:
df4

      A    B    C    D
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

## append에서 기존 인덱스 무시하기

    기존 인덱스를 무시하면 새로운 인덱스를 처리한다.

In [85]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [86]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [87]:
df5 = df2.append(df3,ignore_index=True)

In [88]:
df5

     A    B    C    D
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
4   A8   B8   C8   D8
5   A9   B9   C9   D9
6  A10  B10  C10  D10
7  A11  B11  C11  D11