In [1]:
import pandas as pd
import numpy as np
import types

# 주요 함수

In [6]:
import pandas as pd
import numpy as np
import types

for i in dir(pd) :
    if i.startswith("_") :
        continue
    if type(pd.__dict__[i]) == types.FunctionType :
        
        print(i,end= ' ')

bdate_range concat crosstab cut date_range eval ewma ewmcorr ewmcov ewmstd ewmvar ewmvol expanding_apply expanding_corr expanding_count expanding_cov expanding_kurt expanding_max expanding_mean expanding_median expanding_min expanding_quantile expanding_skew expanding_std expanding_sum expanding_var factorize fama_macbeth get_dummies get_store groupby infer_freq isnull lreshape match melt merge notnull ols ordered_merge period_range pivot pivot_table pnow qcut read_clipboard read_csv read_excel read_fwf read_gbq read_hdf read_html read_json read_msgpack read_pickle read_sas read_sql read_sql_query read_sql_table read_stata read_table rolling_apply rolling_corr rolling_count rolling_cov rolling_kurt rolling_max rolling_mean rolling_median rolling_min rolling_quantile rolling_skew rolling_std rolling_sum rolling_var rolling_window scatter_matrix set_eng_float_format show_versions timedelta_range to_datetime to_msgpack to_numeric to_pickle to_timedelta unique value_counts wide_to_long

# 주요 메소드 처리

In [150]:
import types
s = set(dir(pd.Series))
d = set(dir(pd.DataFrame)) 
sd = s & d 

for i in sd :
    if not i.startswith("_") :
        print(i, end = " ")

index compound rdiv unstack from_csv abs duplicated to_period iterkv take transpose reset_index ffill tz_convert mean kurt loc to_clipboard cummin nlargest describe min size last_valid_index axes update memory_usage squeeze values sum corr combine truncate astype first_valid_index reindex append idxmax items drop_duplicates hist tz_localize first to_hdf iteritems reindex_axis rolling add rtruediv pop rmul groupby swapaxes lt select shift shape reindex_like clip combine_first sortlevel kurtosis xs product skew sort sort_values set_axis radd bool get_ftype_counts as_blocks std rpow clip_upper sort_index iat is_copy sub add_prefix isin rename_axis sem align nsmallest replace mode diff to_xarray reorder_levels between_time get_values rsub bfill to_dense pow copy notnull dot round count cumprod dropna cummax floordiv empty to_timestamp head at cumsum ne ndim to_pickle rank expanding iloc mod irow le resample multiply get_value to_msgpack divide to_json to_string median clip_lower plot tail add_suffix keys pipe ewm rfloordiv filter prod pct_change rmod mul T any rename last as_matrix truediv iget_value dtypes var apply to_csv to_sparse drop set_value all equals to_dict consolidate quantile asfreq where mask at_time to_sql eq gt ix ftypes ge fillna cov blocks sample mad swaplevel tshift get_dtype_counts isnull subtract max div convert_objects slice_shift idxmin get interpolate

### 최대값과 최소값 구하기

In [2]:
df1 = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
     index=pd.date_range('1/1/2000', periods=10))

print(df1.max())

A    2.070029
B    1.715545
C    1.037229
dtype: float64

In [3]:
print(df1.min())

A   -1.037730
B   -1.239132
C   -1.241674
dtype: float64

### 인덱스 최소 최대 알아보기

In [4]:
print(df1.idxmax())

A   2000-01-09
B   2000-01-04
C   2000-01-01
dtype: datetime64[ns]

In [5]:
print(df1.idxmin())

A   2000-01-08
B   2000-01-03
C   2000-01-08
dtype: datetime64[ns]

### 누적 최소 최대

In [6]:
df1 = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
     index=pd.date_range('1/1/2000', periods=10))
print(df1)
print(df1.cummax())

                   A         B         C
2000-01-01  0.300307  0.878418 -0.318621
2000-01-02  0.030752 -2.221689 -0.145932
2000-01-03  0.401463 -0.126208 -0.646206
2000-01-04 -2.081721 -0.103006  2.034921
2000-01-05  0.850983  1.513983 -0.990050
2000-01-06  0.730429  1.089484  0.439087
2000-01-07  2.412519  0.336155 -0.180796
2000-01-08  0.545075  1.122411  1.062983
2000-01-09  0.554044  1.954205 -0.774166
2000-01-10 -0.094355 -0.063572  0.576434
                   A         B         C
2000-01-01  0.300307  0.878418 -0.318621
2000-01-02  0.300307  0.878418 -0.145932
2000-01-03  0.401463  0.878418 -0.145932
2000-01-04  0.401463  0.878418  2.034921
2000-01-05  0.850983  1.513983  2.034921
2000-01-06  0.850983  1.513983  2.034921
2000-01-07  2.412519  1.513983  2.034921
2000-01-08  2.412519  1.513983  2.034921
2000-01-09  2.412519  1.954205  2.034921
2000-01-10  2.412519  1.954205  2.034921

In [138]:
print(df1)
print(df1.cummin())

                   A         B         C
2000-01-01  0.445001  0.729450 -0.218367
2000-01-02  0.071596 -3.198077 -0.200682
2000-01-03 -0.039830  1.559799 -0.530600
2000-01-04  0.662832 -1.802425  0.954724
2000-01-05  0.918204 -0.244426 -2.409715
2000-01-06 -0.267013 -0.427436 -0.799769
2000-01-07  0.440625  1.025092 -0.390997
2000-01-08  1.317619  1.563203 -0.155002
2000-01-09 -0.277984  0.664255  1.543079
2000-01-10  0.034500  0.295781  1.924157
                   A         B         C
2000-01-01  0.445001  0.729450 -0.218367
2000-01-02  0.071596 -3.198077 -0.218367
2000-01-03 -0.039830 -3.198077 -0.530600
2000-01-04 -0.039830 -3.198077 -0.530600
2000-01-05 -0.039830 -3.198077 -2.409715
2000-01-06 -0.267013 -3.198077 -2.409715
2000-01-07 -0.267013 -3.198077 -2.409715
2000-01-08 -0.267013 -3.198077 -2.409715
2000-01-09 -0.277984 -3.198077 -2.409715
2000-01-10 -0.277984 -3.198077 -2.409715

## 누적값 구하기

In [139]:
df1.cumsum()

                   A         B         C
2000-01-01  0.445001  0.729450 -0.218367
2000-01-02  0.516597 -2.468627 -0.419049
2000-01-03  0.476767 -0.908828 -0.949649
2000-01-04  1.139600 -2.711253  0.005076
2000-01-05  2.057803 -2.955679 -2.404639
2000-01-06  1.790790 -3.383115 -3.204408
2000-01-07  2.231415 -2.358023 -3.595405
2000-01-08  3.549034 -0.794820 -3.750407
2000-01-09  3.271050 -0.130565 -2.207328
2000-01-10  3.305551  0.165216 -0.283171

In [140]:
df1.cumprod()

                   A         B         C
2000-01-01  0.445001  0.729450 -0.218367
2000-01-02  0.031860 -2.332837  0.043822
2000-01-03 -0.001269 -3.638756 -0.023252
2000-01-04 -0.000841  6.558587 -0.022199
2000-01-05 -0.000772 -1.603087  0.053494
2000-01-06  0.000206  0.685217 -0.042783
2000-01-07  0.000091  0.702411  0.016728
2000-01-08  0.000120  1.098011 -0.002593
2000-01-09 -0.000033  0.729359 -0.004001
2000-01-10 -0.000001  0.215731 -0.007699

### 사칙연산

In [154]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3), columns=['A', 'B', 'C'])
df2 = pd.DataFrame(np.arange(1,10).reshape(3,3) *3, columns=['A', 'B', 'C'])
print(df1)
print(df2)

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8
    A   B   C
0   3   6   9
1  12  15  18
2  21  24  27

In [166]:
print(df1.add(df2))
print(df1.sub(df2))
print(df1.radd(df2))
print(df1.rsub(df2))
print(df1.subtract(df2))

    A   B   C
0   3   7  11
1  15  19  23
2  27  31  35
    A   B   C
0  -3  -5  -7
1  -9 -11 -13
2 -15 -17 -19
    A   B   C
0   3   7  11
1  15  19  23
2  27  31  35
    A   B   C
0   3   5   7
1   9  11  13
2  15  17  19
    A   B   C
0  -3  -5  -7
1  -9 -11 -13
2 -15 -17 -19

In [156]:
print(df1.divide(df2))
print(df1.truediv(df2))
print(df1.floordiv(df2))
print(df1.div(df2))

          A         B         C
0  0.000000  0.166667  0.222222
1  0.250000  0.266667  0.277778
2  0.285714  0.291667  0.296296
          A         B         C
0  0.000000  0.166667  0.222222
1  0.250000  0.266667  0.277778
2  0.285714  0.291667  0.296296
   A  B  C
0  0  0  0
1  0  0  0
2  0  0  0
          A         B         C
0  0.000000  0.166667  0.222222
1  0.250000  0.266667  0.277778
2  0.285714  0.291667  0.296296

In [159]:
print(df1.mul(df2))
print(df1.rmul(df2))
print(df1.multiply(df2))
print(df1.mod(df2))

     A    B    C
0    0    6   18
1   36   60   90
2  126  168  216
     A    B    C
0    0    6   18
1   36   60   90
2  126  168  216
     A    B    C
0    0    6   18
1   36   60   90
2  126  168  216
   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [171]:
print(df1.pow(df2))
print(df1.rpow(df2))

            A           B          C
0           0           1        512
1      531441  1073741824  766306777
2  1449132032  1452577857          0
          A          B           C
0         1          6          81
1      1728      50625     1889568
2  85766121  291504128 -1038305055

### 비교연산

In [169]:
print(df1.le(df2))
print(df1.ne(df2))

      A     B     C
0  True  True  True
1  True  True  True
2  True  True  True
      A     B     C
0  True  True  True
1  True  True  True
2  True  True  True

In [168]:
print(df1.eq(df2))
print(df1.equals(df2))

       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False
False

In [163]:
print(df1.ge(df2))

       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False

In [164]:
print(df1.lt(df2))

      A     B     C
0  True  True  True
1  True  True  True
2  True  True  True

In [165]:
print(df1.gt(df2))

       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False

### 절대값 처리

In [197]:
df11 = -1* df1
print(df11)

print(abs(df11))

   A  B  C
0  0 -1 -2
1 -3 -4 -5
2 -6 -7 -8
   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

### 통계 관련  메소드

In [224]:
df1

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [284]:
df2

    A   B   C
0   3   6   9
1  12  15  18
2  21  24  27

#### 공분산

In [289]:
help(df2.cov)

Help on method cov in module pandas.core.frame:

cov(min_periods=None) method of pandas.core.frame.DataFrame instance
    Compute pairwise covariance of columns, excluding NA/null values

    Parameters
    ----------
    min_periods : int, optional
        Minimum number of observations required per pair of columns
        to have a valid result.

    Returns
    -------
    y : DataFrame

    Notes
    -----
    `y` contains the covariance matrix of the DataFrame's time series.
    The covariance is normalized by N-1 (unbiased estimator).

In [287]:
df2.cov()

      A     B     C
A  81.0  81.0  81.0
B  81.0  81.0  81.0
C  81.0  81.0  81.0

#### 상관계수

In [290]:
help(df2.corr)

Help on method corr in module pandas.core.frame:

corr(method='pearson', min_periods=1) method of pandas.core.frame.DataFrame instance
    Compute pairwise correlation of columns, excluding NA/null values

    Parameters
    ----------
    method : {'pearson', 'kendall', 'spearman'}
        * pearson : standard correlation coefficient
        * kendall : Kendall Tau correlation coefficient
        * spearman : Spearman rank correlation
    min_periods : int, optional
        Minimum number of observations required per pair of columns
        to have a valid result. Currently only available for pearson
        and spearman correlation

    Returns
    -------
    y : DataFrame

In [288]:
df2.corr()

     A    B    C
A  1.0  1.0  1.0
B  1.0  1.0  1.0
C  1.0  1.0  1.0

In [283]:
df1.describe()

         A    B    C
count  3.0  3.0  3.0
mean   3.0  4.0  5.0
std    3.0  3.0  3.0
min    0.0  1.0  2.0
25%    1.5  2.5  3.5
50%    3.0  4.0  5.0
75%    4.5  5.5  6.5
max    6.0  7.0  8.0

In [291]:
df1.var()

A    9.0
B    9.0
C    9.0
dtype: float64

## nan 값 처리

In [257]:
help(dfna.fillna)

Help on method fillna in module pandas.core.frame:

fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs) method of pandas.core.frame.DataFrame instance
    Fill NA/NaN values using the specified method

    Parameters
    ----------
    value : scalar, dict, Series, or DataFrame
        Value to use to fill holes (e.g. 0), alternately a
        dict/Series/DataFrame of values specifying which value to use for
        each index (for a Series) or column (for a DataFrame). (values not
        in the dict/Series/DataFrame will not be filled). This value cannot
        be a list.
    method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
        Method to use for filling holes in reindexed Series
        pad / ffill: propagate last valid observation forward to next valid
        backfill / bfill: use NEXT valid observation to fill gap
    axis : {0, 1, 'index', 'columns'}
    inplace : boolean, default False
        If True, fill in place. Note: this will modify any
        other views on this object, (e.g. a no-copy slice for a column in a
        DataFrame).
    limit : int, default None
        If method is specified, this is the maximum number of consecutive
        NaN values to forward/backward fill. In other words, if there is
        a gap with more than this number of consecutive NaNs, it will only
        be partially filled. If method is not specified, this is the
        maximum number of entries along the entire axis where NaNs will be
        filled.
    downcast : dict, default is None
        a dict of item->dtype of what to downcast if possible,
        or the string 'infer' which will try to downcast to an appropriate
        equal type (e.g. float64 to int64 if possible)

    See Also
    --------
    reindex, asfreq

    Returns
    -------
    filled : DataFrame

In [265]:
dfna = pd.DataFrame(np.arange(9).reshape(3,3))
dfna[[0,0]] = np.NaN
print(dfna)

print(dfna.isnull())

b = dfna.dropna(axis=1)
print(b)
print(b.notnull())

    0  1  2
0 NaN  1  2
1 NaN  4  5
2 NaN  7  8
      0      1      2
0  True  False  False
1  True  False  False
2  True  False  False
   1  2
0  1  2
1  4  5
2  7  8
      1     2
0  True  True
1  True  True
2  True  True