In [1]:
import pandas as pd

In [4]:
ex = pd.read_excel('data/test.xlsx','시트1')

In [5]:
ex

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2010  Packers    15       1
4  2011  Packers    15       1
5  2012  Packers    11       5
6  2010    Lions     6      10
7  2011    Lions    10       6
8  2012    Lions     4      12

In [6]:
type(ex)

pandas.core.frame.DataFrame

## 슬라이스로 처리시는 행단위로 처리

In [8]:
ex[:]

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2010  Packers    15       1
4  2011  Packers    15       1
5  2012  Packers    11       5
6  2010    Lions     6      10
7  2011    Lions    10       6
8  2012    Lions     4      12

In [15]:
ex[:2]

   year   team  wins  losses
0  2010  Bears    11       5
1  2011  Bears     8       8

## 인덱싱으로 처리시는 칼럼단위로 검색

In [9]:
ex['year']

0    2010
1    2011
2    2012
3    2010
4    2011
5    2012
6    2010
7    2011
8    2012
Name: year, dtype: int64

## 팬시 인덱싱으로 처리시는 결과가 데이터 프레임으로 처리

In [10]:
ex[['year']]

   year
0  2010
1  2011
2  2012
3  2010
4  2011
5  2012
6  2010
7  2011
8  2012

In [12]:
ex[['year','team']]

   year     team
0  2010    Bears
1  2011    Bears
2  2012    Bears
3  2010  Packers
4  2011  Packers
5  2012  Packers
6  2010    Lions
7  2011    Lions
8  2012    Lions

## 마스킹 처리 검색

In [14]:
ex['wins'] > 10

0     True
1    False
2    False
3     True
4     True
5     True
6    False
7    False
8    False
Name: wins, dtype: bool

In [13]:
ex[ex['wins'] >10]

   year     team  wins  losses
0  2010    Bears    11       5
3  2010  Packers    15       1
4  2011  Packers    15       1
5  2012  Packers    11       5

## 속성에 의한 행단위 검색
     행단위의 시리즈가 나온다.

In [16]:
ex.loc[0]

year       2010
team      Bears
wins         11
losses        5
Name: 0, dtype: object

In [17]:
ex.iloc[0]

year       2010
team      Bears
wins         11
losses        5
Name: 0, dtype: object