In [1]:
import pandas as pd

In [2]:
csv = r"""dummy,date,loc,x
bar,20090101,a,1
bar,20090102,a,3
bar,20090103,a,5
bar,20090101,b,1
bar,20090102,b,3
bar,20090103,b,5"""
f = open('data/foo.csv', 'w')
f.write(csv)
f.close()

## 저장된 대로 파일을 읽고 출력한다

In [7]:
df = pd.read_csv('data/foo.csv')

In [8]:
df

  dummy      date loc  x
0   bar  20090101   a  1
1   bar  20090102   a  3
2   bar  20090103   a  5
3   bar  20090101   b  1
4   bar  20090102   b  3
5   bar  20090103   b  5

In [13]:
df01 = pd.read_csv('data/foo.csv', 
        index_col=["date", "loc"], 
        usecols=["dummy", "date", "loc", "x"],
        parse_dates=["date"],
        header=0)

In [14]:
df01

               dummy  x
date       loc
2009-01-01 a     bar  1
2009-01-02 a     bar  3
2009-01-03 a     bar  5
2009-01-01 b     bar  1
2009-01-02 b     bar  3
2009-01-03 b     bar  5

## 칼럼과 인덱스를 지정한다.

### 헤더가 없는 데이터 생성

In [15]:
csv1 = r"""bar,20090101,a,1
bar,20090102,a,3
bar,20090103,a,5
bar,20090101,b,1
bar,20090102,b,3
bar,20090103,b,5"""
f1 = open('data/bar.csv', 'w')
f1.write(csv1)
f1.close()

### 파일을 읽어오면 기본 첫번째 행을 헤더로 인지함

In [18]:
df11 = pd.read_csv('data/bar.csv')

In [19]:
df11

   bar  20090101  a  1
0  bar  20090102  a  3
1  bar  20090103  a  5
2  bar  20090101  b  1
3  bar  20090102  b  3
4  bar  20090103  b  5

### 헤더가 없다고 표시함

In [21]:
df12 = pd.read_csv('data/bar.csv',header=None)

In [22]:
df12

     0         1  2  3
0  bar  20090101  a  1
1  bar  20090102  a  3
2  bar  20090103  a  5
3  bar  20090101  b  1
4  bar  20090102  b  3
5  bar  20090103  b  5

### 헤더가 없을 경우 names 키워드를 이용해서 헤더를 부여함

In [23]:
df1 = pd.read_csv('data/bar.csv', 
        index_col=["date", "loc"], 
        parse_dates=["date"],
        names=["dummy", "date", "loc", "x"])

In [24]:
df1

               dummy  x
date       loc
2009-01-01 a     bar  1
2009-01-02 a     bar  3
2009-01-03 a     bar  5
2009-01-01 b     bar  1
2009-01-02 b     bar  3
2009-01-03 b     bar  5

In [25]:
df1.index

MultiIndex(levels=[[2009-01-01 00:00:00, 2009-01-02 00:00:00, 2009-01-03 00:00:00], ['a', 'b']],
           labels=[[0, 1, 2, 0, 1, 2], [0, 0, 0, 1, 1, 1]],
           names=['date', 'loc'])

In [26]:
df1.columns

Index(['dummy', 'x'], dtype='object')

## 실제 사용하는 칼럼만 조정이 가능

### usecols 내에 지정된 칼럼만 처리가 된다.

In [11]:
df2 = pd.read_csv('data/foo.csv', 
        index_col=["date", "loc"], 
        usecols=["date", "loc", "x"], # <----------- Changed
        parse_dates=["date"],
        header=0,
        names=["dummy", "date", "loc", "x"])

In [12]:
df2

                x
date       loc
2009-01-01 a    1
2009-01-02 a    3
2009-01-03 a    5
2009-01-01 b    1
2009-01-02 b    3
2009-01-03 b    5