In [1]:
import pandas as pd

# 빈 데이터 프레임을 만들어서 딕셔너리가 들어간 리스트로 세부 원소 넣기

## 칼럼만 가진 데이터프레임 만들기

In [2]:
new_df = pd.DataFrame(columns=['id','name'])

In [3]:
new_df

Empty DataFrame
Columns: [id, name]
Index: []

## 딕셔너리 원소를 가진 리스트 만들기

In [4]:
data_dict = [
    {'id':1,'name':"john"},
    {'id':2,'name':"mary"},
    {'id':3,'name':"peter"}
]

In [5]:
data_dict

[{'id': 1, 'name': 'john'},
 {'id': 2, 'name': 'mary'},
 {'id': 3, 'name': 'peter'}]

## 행을 읽어서 데이터 프레임 내의 값 집어넣기

new_df = new_df.from_records(data_dict)

In [7]:
new_df

   id   name
0   1   john
1   2   mary
2   3  peter