# 주요 함수

In [3]:
import pandas as pd
import numpy as np
import types

In [2]:
import pandas as pd
import numpy as np
import types

for i in dir(pd) :
    if i.startswith("_") :
        continue
    if type(pd.__dict__[i]) == types.FunctionType :
        
        print(i,end= ' ')

Expr Term bdate_range concat crosstab cut date_range eval ewma ewmcorr ewmcov ewmstd ewmvar ewmvol expanding_apply expanding_corr expanding_count expanding_cov expanding_kurt expanding_max expanding_mean expanding_median expanding_min expanding_quantile expanding_skew expanding_std expanding_sum expanding_var factorize get_dummies get_store groupby infer_freq interval_range isnull lreshape match melt merge merge_asof merge_ordered notnull ordered_merge period_range pivot pivot_table pnow qcut read_clipboard read_csv read_excel read_feather read_fwf read_gbq read_hdf read_html read_json read_msgpack read_pickle read_sas read_sql read_sql_query read_sql_table read_stata read_table rolling_apply rolling_corr rolling_count rolling_cov rolling_kurt rolling_max rolling_mean rolling_median rolling_min rolling_quantile rolling_skew rolling_std rolling_sum rolling_var rolling_window scatter_matrix set_eng_float_format show_versions test timedelta_range to_datetime to_msgpack to_numeric to_pickle to_timedelta unique value_counts wide_to_long

# 주요 메소드 처리

In [150]:
import types
s = set(dir(pd.Series))
d = set(dir(pd.DataFrame)) 
sd = s & d 

for i in sd :
    if not i.startswith("_") :
        print(i, end = " ")

index compound rdiv unstack from_csv abs duplicated to_period iterkv take transpose reset_index ffill tz_convert mean kurt loc to_clipboard cummin nlargest describe min size last_valid_index axes update memory_usage squeeze values sum corr combine truncate astype first_valid_index reindex append idxmax items drop_duplicates hist tz_localize first to_hdf iteritems reindex_axis rolling add rtruediv pop rmul groupby swapaxes lt select shift shape reindex_like clip combine_first sortlevel kurtosis xs product skew sort sort_values set_axis radd bool get_ftype_counts as_blocks std rpow clip_upper sort_index iat is_copy sub add_prefix isin rename_axis sem align nsmallest replace mode diff to_xarray reorder_levels between_time get_values rsub bfill to_dense pow copy notnull dot round count cumprod dropna cummax floordiv empty to_timestamp head at cumsum ne ndim to_pickle rank expanding iloc mod irow le resample multiply get_value to_msgpack divide to_json to_string median clip_lower plot tail add_suffix keys pipe ewm rfloordiv filter prod pct_change rmod mul T any rename last as_matrix truediv iget_value dtypes var apply to_csv to_sparse drop set_value all equals to_dict consolidate quantile asfreq where mask at_time to_sql eq gt ix ftypes ge fillna cov blocks sample mad swaplevel tshift get_dtype_counts isnull subtract max div convert_objects slice_shift idxmin get interpolate

### apply 함수 처리

In [4]:
df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
     index=pd.date_range('1/1/2000', periods=10))

print(df)

                   A         B         C
2000-01-01 -0.105344  1.166109  0.177124
2000-01-02  0.044590  1.560137 -0.147828
2000-01-03 -0.262588 -0.406657  0.581775
2000-01-04  1.032962  0.238218 -0.986328
2000-01-05  1.701043 -0.322042  0.500540
2000-01-06 -0.601285  2.068910 -0.408963
2000-01-07 -0.731037  0.338016  0.342425
2000-01-08  1.361662 -1.046723 -0.937321
2000-01-09 -1.806673  1.601196  0.328245
2000-01-10 -0.687693  0.494841  1.475417

#### 파아썬의 sum 함수를 사용해서 계산하기

In [7]:
df['A']

2000-01-01   -0.105344
2000-01-02    0.044590
2000-01-03   -0.262588
2000-01-04    1.032962
2000-01-05    1.701043
2000-01-06   -0.601285
2000-01-07   -0.731037
2000-01-08    1.361662
2000-01-09   -1.806673
2000-01-10   -0.687693
Freq: D, Name: A, dtype: float64

In [8]:
sum(df["A"])

-0.054362298542007137

### 데이터 프레임 처리할 때 예외가 발생한다.

In [9]:
sum(df)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### 데이터 프레임을 처리하기 위해서는 apply 함수를 이용한다.

In [90]:
print(df.apply(sum))

A   -2.568167
B   -3.327006
C   -2.942631
dtype: float64

### numpy 함수는 apply 없어서 처리한다.

In [10]:
np.mean(df)

A   -0.005436
B    0.569200
C    0.092509
dtype: float64

In [92]:
print(df.apply(np.mean))

A   -0.256817
B   -0.332701
C   -0.294263
dtype: float64

In [93]:
print(df.mean())

A   -0.256817
B   -0.332701
C   -0.294263
dtype: float64