In [1]:
import pandas as pd
import numpy as np

In [2]:
fruits = ['peaches', 'oranges', 'cherries', 'pears']
fruits2 = ['raspberries', 'oranges', 'cherries', 'pears']
S = pd.Series([20, 33, 52, 10], index=fruits)
S2 = pd.Series([17, 13, 31, 32], index=fruits2)

In [4]:
S

peaches     20
oranges     33
cherries    52
pears       10
dtype: int64

In [5]:
S2

raspberries    17
oranges        13
cherries       31
pears          32
dtype: int64

###  동일한 값이 없을 경우 자동으로 nan으로 처리하므로 계산 결과도 nan이다

In [6]:
S + S2

cherries       83.0
oranges        46.0
peaches         NaN
pears          42.0
raspberries     NaN
dtype: float64

In [7]:
S - S2

cherries       21.0
oranges        20.0
peaches         NaN
pears         -22.0
raspberries     NaN
dtype: float64

### 다른 함수를 통해 내부의 원소들을 계산하기  apply와 map 메소드 이용하기

In [8]:
S.apply(np.sin)

peaches     0.912945
oranges     0.999912
cherries    0.986628
pears      -0.544021
dtype: float64

In [9]:
S2.apply(np.sin)

raspberries   -0.961397
oranges        0.420167
cherries      -0.404038
pears          0.551427
dtype: float64

In [10]:
S.map(np.sin)

peaches     0.912945
oranges     0.999912
cherries    0.986628
pears      -0.544021
dtype: float64

### 익명함수를 이용해서 각 원소의 값을 처리하기

In [11]:
S.apply(lambda x: x if x > 50 else x+10 )

peaches     30
oranges     43
cherries    52
pears       20
dtype: int64