In [13]:
import pandas as pd
import numpy as np

In [33]:
url = 'https://raw.github.com/gjreda/best-sandwiches/master/data/best-sandwiches-geocode.tsv'

# fetch the text from the URL and read it into a DataFrame
from_url = pd.read_table(url, sep='\t')
from_url.head()

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
0,1,BLT,Old Oak Tap,The B is applewood smoked&mdash;nice and snapp...,$10,2109 W. Chicago Ave.,Chicago,773-772-0406,theoldoaktap.com,"2109 W. Chicago Ave., Chicago","2109 West Chicago Avenue, Chicago, IL 60622, USA",41.895734,-87.679960
1,2,Fried Bologna,Au Cheval,Thought your bologna-eating days had retired w...,$9,800 W. Randolph St.,Chicago,312-929-4580,aucheval.tumblr.com,"800 W. Randolph St., Chicago","800 West Randolph Street, Chicago, IL 60607, USA",41.884672,-87.647754
2,3,Woodland Mushroom,Xoco,Leave it to Rick Bayless and crew to come up w...,$9.50.,445 N. Clark St.,Chicago,312-334-3688,rickbayless.com,"445 N. Clark St., Chicago","445 North Clark Street, Chicago, IL 60654, USA",41.890602,-87.630925
3,4,Roast Beef,Al&rsquo;s Deli,"The Francophile brothers behind this deli, whi...",$9.40.,914 Noyes St.,Evanston,NaN,alsdeli.net,"914 Noyes St., Evanston","914 Noyes Street, Evanston, IL 60201, USA",42.058442,-87.684425
4,5,PB&amp;L,Publican Qualty Meats,"When this place opened in February, it quickly...",$10,825 W. Fulton Mkt.,Chicago,312-445-8977,publicanqualitymeats.com,"825 W. Fulton Mkt., Chicago","825 West Fulton Market, Chicago, IL 60607, USA",41.886637,-87.648553

In [34]:
from_url['city'].head()

0     Chicago
1     Chicago
2     Chicago
3    Evanston
4     Chicago
Name: city, dtype: object

In [35]:
from_url.tail()

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
56,46,Kufta,Chickpea,"Nestled within the freshest, chewiest pita poc...",$8,2018 W. Chicago Ave.,Chicago,773-384-9930,chickpeaonthego.com,"2018 W. Chicago Ave., Chicago","2018 West Chicago Avenue, Chicago, IL 60622, USA",41.896178,-87.677832
57,47,Debbie&rsquo;s Egg Salad,The Goddess and Grocer,Nothing quite satisfies the comfortfood hunger...,$6.50.,25 E. Delaware Pl.,Chicago,312-896-2600,goddessandgrocer.com,"25 E. Delaware Pl., Chicago","25 East Delaware Place, Chicago, IL 60611, USA",41.898990,-87.627290
58,48,Beef Curry,Zenwich,Proof positive that sandwiches have surpassed ...,$7.50.,416 N. York St.,Elmhurst,NaN,eatmyzenwich.com,"416 N. York St., Elmhurst","416 North York Street, Elmhurst, IL 60126, USA",41.910661,-87.939928
59,49,Le V&eacute;g&eacute;tarien,Toni Patisserie,Toni Cox spreads rich white bean hummus on a b...,$8.75.,65 E. Washington St.,Chicago,312-726-2020,tonipatisserie.com,"65 E. Washington St., Chicago","65 East Washington Street, Chicago, IL 60602, USA",41.883212,-87.625406
60,50,The Gatsby,Phoebe&rsquo;s Bakery,The best thing about Phoebe&rsquo;s panini is ...,$6.85.,3351 N. Broadway,Chicago,773-868-4000,phoebesbakery.com,"3351 N. Broadway, Chicago","3351 North Broadway, Chicago, IL 60657, USA",41.942739,-87.644342

In [36]:
from_url['city'].tail()

56     Chicago
57     Chicago
58    Elmhurst
59     Chicago
60     Chicago
Name: city, dtype: object

In [37]:
s = from_url['price']

## 달러표시 제거

In [38]:
s.head()

0       $10
1        $9
2    $9.50.
3    $9.40.
4       $10
Name: price, dtype: object

In [39]:
s.replace("^\$", "", regex=True, inplace=True)

In [40]:
s.head()

0       10
1        9
2    9.50.
3    9.40.
4       10
Name: price, dtype: object

## 마지막의 점을 제거

In [41]:
s.replace("\.$", "", regex=True, inplace=True)

In [42]:
s.head()

0      10
1       9
2    9.50
3    9.40
4      10
Name: price, dtype: object

In [15]:
help(s.replace)

Help on method replace in module pandas.core.generic:

replace(to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad', axis=None) method of pandas.core.series.Series instance
    Replace values given in 'to_replace' with 'value'.

    Parameters
    ----------
    to_replace : str, regex, list, dict, Series, numeric, or None

        * str or regex:

            - str: string exactly matching `to_replace` will be replaced
              with `value`
            - regex: regexs matching `to_replace` will be replaced with
              `value`

        * list of str, regex, or numeric:

            - First, if `to_replace` and `value` are both lists, they
              **must** be the same length.
            - Second, if ``regex=True`` then all of the strings in **both**
              lists will be interpreted as regexs otherwise they will match
              directly. This doesn't matter much for `value` since there
              are only a few possible substitution regexes you can use.
            - str and regex rules apply as above.

        * dict:

            - Nested dictionaries, e.g., {'a': {'b': nan}}, are read as
              follows: look in column 'a' for the value 'b' and replace it
              with nan. You can nest regular expressions as well. Note that
              column names (the top-level dictionary keys in a nested
              dictionary) **cannot** be regular expressions.
            - Keys map to column names and values map to substitution
              values. You can treat this as a special case of passing two
              lists except that you are specifying the column to search in.

        * None:

            - This means that the ``regex`` argument must be a string,
              compiled regular expression, or list, dict, ndarray or Series
              of such elements. If `value` is also ``None`` then this
              **must** be a nested dictionary or ``Series``.

        See the examples section for examples of each of these.
    value : scalar, dict, list, str, regex, default None
        Value to use to fill holes (e.g. 0), alternately a dict of values
        specifying which value to use for each column (columns not in the
        dict will not be filled). Regular expressions, strings and lists or
        dicts of such objects are also allowed.
    inplace : boolean, default False
        If True, in place. Note: this will modify any
        other views on this object (e.g. a column form a DataFrame).
        Returns the caller if this is True.
    limit : int, default None
        Maximum size gap to forward or backward fill
    regex : bool or same types as `to_replace`, default False
        Whether to interpret `to_replace` and/or `value` as regular
        expressions. If this is ``True`` then `to_replace` *must* be a
        string. Otherwise, `to_replace` must be ``None`` because this
        parameter will be interpreted as a regular expression or a list,
        dict, or array of regular expressions.
    method : string, optional, {'pad', 'ffill', 'bfill'}
        The method to use when for replacement, when ``to_replace`` is a
        ``list``.

    See Also
    --------
    NDFrame.reindex
    NDFrame.asfreq
    NDFrame.fillna

    Returns
    -------
    filled : NDFrame

    Raises
    ------
    AssertionError
        * If `regex` is not a ``bool`` and `to_replace` is not ``None``.
    TypeError
        * If `to_replace` is a ``dict`` and `value` is not a ``list``,
          ``dict``, ``ndarray``, or ``Series``
        * If `to_replace` is ``None`` and `regex` is not compilable into a
          regular expression or is a list, dict, ndarray, or Series.
    ValueError
        * If `to_replace` and `value` are ``list`` s or ``ndarray`` s, but
          they are not the same length.

    Notes
    -----
    * Regex substitution is performed under the hood with ``re.sub``. The
      rules for substitution for ``re.sub`` are the same.
    * Regular expressions will only substitute on strings, meaning you
      cannot provide, for example, a regular expression matching floating
      point numbers and expect the columns in your frame that have a
      numeric dtype to be matched. However, if those floating point numbers
      *are* strings, then you can do this.
    * This method has *a lot* of options. You are encouraged to experiment
      and play with this method to gain intuition about how it works.

## 문자열의 금액을 실수로 조정하고 저장

In [51]:
from_url["price"] = from_url['price'].astype(np.float64)

In [56]:
from_url['price'].head()

0    10.0
1     9.0
2     9.5
3     9.4
4    10.0
Name: price, dtype: float64

## 최소값과 최대값 구하기

In [53]:
from_url['price'].min()

4.5

In [54]:
from_url['price'].max()

21.0

In [55]:
from_url.describe()

            rank      price        lat        lng
count  61.000000  61.000000  61.000000  61.000000
mean   25.278689   8.982951  41.906938 -87.682965
std    13.689572   3.169294   0.083674   0.090901
min     1.000000   4.500000  41.601541 -88.125653
25%    13.000000   7.000000  41.884672 -87.684425
50%    25.000000   8.000000  41.898990 -87.648218
75%    36.000000  10.000000  41.930101 -87.634157
max    50.000000  21.000000  42.251828 -87.593820