In [1]:
import pandas as pd
import numpy as np

In [26]:
ldata = pd.read_csv('ldata.csv')

In [27]:
ldata

       date     item     value
0  2017-1-1  realgdg  2710.349
1  2017-1-1     inf1     0.001
2  2017-1-1    unemp     5.800
3  2017-1-2  realgdg  2778.801
4  2017-1-2     inf1     2.340
5  2017-1-2    unemp     5.100
6  2017-1-3  realgdg  2775.488
7  2017-1-3     inf1     2.740
8  2017-1-3    unemp     5.300

In [28]:
ldata.index

RangeIndex(start=0, stop=9, step=1)

In [29]:
ldata.columns

Index(['date', 'item', 'value'], dtype='object')

## 피봇 메소드로 기존 데이터 프레임을 다른 구조의 데이터 프레임으로 변경한다.

In [30]:
help(ldata.pivot)

Help on method pivot in module pandas.core.frame:

pivot(index=None, columns=None, values=None) method of pandas.core.frame.DataFrame instance
    Reshape data (produce a "pivot" table) based on column values. Uses
    unique values from index / columns to form axes of the resulting
    DataFrame.

    Parameters
    ----------
    index : string or object, optional
        Column name to use to make new frame's index. If None, uses
        existing index.
    columns : string or object
        Column name to use to make new frame's columns
    values : string or object, optional
        Column name to use for populating new frame's values. If not
        specified, all remaining columns will be used and the result will
        have hierarchically indexed columns

    Returns
    -------
    pivoted : DataFrame

    See also
    --------
    DataFrame.pivot_table : generalization of pivot that can handle
        duplicate values for one index/column pair
    DataFrame.unstack : pivot based on the index values instead of a
        column

    Notes
    -----
    For finer-tuned control, see hierarchical indexing documentation along
    with the related stack/unstack methods

    Examples
    --------

    >>> df = pd.DataFrame({'foo': ['one','one','one','two','two','two'],
                           'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                           'baz': [1, 2, 3, 4, 5, 6]})
    >>> df
        foo   bar  baz
    0   one   A    1
    1   one   B    2
    2   one   C    3
    3   two   A    4
    4   two   B    5
    5   two   C    6

    >>> df.pivot(index='foo', columns='bar', values='baz')
         A   B   C
    one  1   2   3
    two  4   5   6

    >>> df.pivot(index='foo', columns='bar')['baz']
         A   B   C
    one  1   2   3
    two  4   5   6

In [31]:
pivoted = ldata.pivot(index="date",columns='item', values='value')

In [32]:
pivoted

item       inf1   realgdg  unemp
date
2017-1-1  0.001  2710.349    5.8
2017-1-2  2.340  2778.801    5.1
2017-1-3  2.740  2775.488    5.3

## 하나의 열을 추가한다.

In [33]:
ldata['value2'] = np.random.randn(len(ldata))

In [34]:
ldata

       date     item     value    value2
0  2017-1-1  realgdg  2710.349 -0.440359
1  2017-1-1     inf1     0.001 -1.053425
2  2017-1-1    unemp     5.800 -0.059266
3  2017-1-2  realgdg  2778.801  1.916664
4  2017-1-2     inf1     2.340  1.009884
5  2017-1-2    unemp     5.100  0.905684
6  2017-1-3  realgdg  2775.488 -0.434246
7  2017-1-3     inf1     2.740 -0.018365
8  2017-1-3    unemp     5.300 -0.831114

##  데이터 프레임에 정해진 것중에 item을 열로 변경해서 처리

In [36]:
pivoted2 = ldata.pivot('date','item')

In [37]:
pivoted2

          value                    value2
item       inf1   realgdg unemp      inf1   realgdg     unemp
date
2017-1-1  0.001  2710.349   5.8 -1.053425 -0.440359 -0.059266
2017-1-2  2.340  2778.801   5.1  1.009884  1.916664  0.905684
2017-1-3  2.740  2775.488   5.3 -0.018365 -0.434246 -0.831114

###  상위 칼럼으로 조회하기

In [41]:
pivoted2['value']

item       inf1   realgdg  unemp
date
2017-1-1  0.001  2710.349    5.8
2017-1-2  2.340  2778.801    5.1
2017-1-3  2.740  2775.488    5.3

In [40]:
pivoted2['value2']

item          inf1   realgdg     unemp
date
2017-1-1 -1.053425 -0.440359 -0.059266
2017-1-2  1.009884  1.916664  0.905684
2017-1-3 -0.018365 -0.434246 -0.831114

### 하위 칼럼으로 조회하기

In [44]:
pivoted2['value2']['unemp']

date
2017-1-1   -0.059266
2017-1-2    0.905684
2017-1-3   -0.831114
Name: unemp, dtype: float64

## pivot 메소드는 

   set_index를 부여하고 이를 unstack으로 처리하는 것과 동일하게 처리된다.

In [50]:
pivoted2

          value                    value2
item       inf1   realgdg unemp      inf1   realgdg     unemp
date
2017-1-1  0.001  2710.349   5.8 -1.053425 -0.440359 -0.059266
2017-1-2  2.340  2778.801   5.1  1.009884  1.916664  0.905684
2017-1-3  2.740  2775.488   5.3 -0.018365 -0.434246 -0.831114

In [45]:
unstacked = ldata.set_index(['date','item']).unstack('item')

In [46]:
unstacked

          value                    value2
item       inf1   realgdg unemp      inf1   realgdg     unemp
date
2017-1-1  0.001  2710.349   5.8 -1.053425 -0.440359 -0.059266
2017-1-2  2.340  2778.801   5.1  1.009884  1.916664  0.905684
2017-1-3  2.740  2775.488   5.3 -0.018365 -0.434246 -0.831114