In [1]:
import pandas as pd
import numpy as np

## 특정 데이터 중에 선택해서 첫번째 값을 선택하기

In [2]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5,4.5, np.nan], index=['f','e','d','c','b','a'])

In [3]:
b = pd.Series(np.arange(len(a), dtype=np.float64), index=['f','e','d','c','b','a'])

In [4]:
a

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64

In [5]:
b

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    5.0
dtype: float64

In [6]:
b[-1] = np.nan

In [7]:
b

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    NaN
dtype: float64

## 첫번째 시리즈의 값을 우선적으로 결합되어 처리

In [10]:
help(pd.Series.combine_first)

Help on function combine_first in module pandas.core.series:

combine_first(self, other)
    Combine Series values, choosing the calling Series's values
    first. Result index will be the union of the two indexes

    Parameters
    ----------
    other : Series

    Returns
    -------
    y : Series

### where는 3항 연산자이므로 조건에 참일때와 거짓일 때 처리 기준

In [14]:
np.where(pd.isnull(b),a,b)

array([  0.,   1.,   2.,   3.,   4.,  nan])

In [8]:
b.combine_first(a)

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    NaN
dtype: float64

### 값이 없을 경우에 첫번째 값이 넣어지고 아니면 두번째 값이 넣어진다

In [12]:
np.where(pd.isnull(a),b,a)

array([ 0. ,  2.5,  2. ,  3.5,  4.5,  nan])

In [11]:
a.combine_first(b)

f    0.0
e    2.5
d    2.0
c    3.5
b    4.5
a    NaN
dtype: float64

## 컴파인으로 처리하기

In [16]:
help(pd.Series.combine)

Help on function combine in module pandas.core.series:

combine(self, other, func, fill_value=nan)
    Perform elementwise binary operation on two Series using given function
    with optional fill value when an index is missing from one Series or
    the other

    Parameters
    ----------
    other : Series or scalar value
    func : function
    fill_value : scalar value

    Returns
    -------
    result : Series

In [21]:
b

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    NaN
dtype: float64

In [22]:
a

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64

In [26]:
b.combine(a,np.add,fill_value=0)

f    NaN
e    3.5
d    NaN
c    6.5
b    8.5
a    NaN
dtype: float64

In [27]:
a.combine(b,np.add,fill_value=0)

f    NaN
e    3.5
d    NaN
c    6.5
b    8.5
a    NaN
dtype: float64