In [1]:
import pandas as pd

## 분리자를 쉼표로 한 텍스트 파일 생성

In [2]:
%%writefile data/temp.txt
date,temp
11-1-2014,56
11-2-2014,56
11-3-2014,59
11-5-2014,60
11-6-2014,55

Writing data/temp.txt

In [3]:
!cat data/temp.txt

date,temp
11-1-2014,56
11-2-2014,56
11-3-2014,59
11-5-2014,60
11-6-2014,55

## csv 로 읽어오기

In [4]:
df = pd.read_csv('data/temp.txt', index_col=0)

In [5]:
df

           temp
date
11-1-2014    56
11-2-2014    56
11-3-2014    59
11-5-2014    60
11-6-2014    55

In [9]:
df.index

Index(['11-1-2014', '11-2-2014', '11-3-2014', '11-5-2014', '11-6-2014'], dtype='object', name='date')

## 데이터가 날짜일 경우 parse_dates를 이용해서 변환하면 실제 날짜처리 자료형으로 변환

In [7]:
df1 = pd.read_csv('data/temp.txt', index_col=0, parse_dates=True)

In [8]:
df1

            temp
date
2014-11-01    56
2014-11-02    56
2014-11-03    59
2014-11-05    60
2014-11-06    55

In [10]:
df1.index

DatetimeIndex(['2014-11-01', '2014-11-02', '2014-11-03', '2014-11-05',
               '2014-11-06'],
              dtype='datetime64[ns]', name='date', freq=None)