In [1]:
import pandas as pd

# 논리 배열을 만들어서 내부 검색하기

    실제 검색된 결과를 알려줄 때 현재 처리된 데이터 자료형을 유지해서 처리된다.

In [2]:
s = pd.Series([1,2,3,4,5])

In [3]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

### 시리즈에서 논리연산자를 이용해서 처리하면 불리언 값의 배열이 만들어진다

In [5]:
s<3

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [6]:
s.lt(3)

0     True
1     True
2    False
3    False
4    False
dtype: bool

### 검색에 불리언 배열을 넣으면 True 값만 뽑아서 시리즈로 만들어 준다

In [4]:
s[s<3]

0    1
1    2
dtype: int64

In [7]:
df = pd.DataFrame([[1,2,3],[4,5,6]])

In [8]:
df

   0  1  2
0  1  2  3
1  4  5  6

In [10]:
df<3

       0      1      2
0   True   True  False
1  False  False  False

In [9]:
df[df<3]

     0    1   2
0  1.0  2.0 NaN
1  NaN  NaN NaN

### 메소드를 사용해서 처리된 경우가 동일하다

In [11]:
df[df.lt(3)]

     0    1   2
0  1.0  2.0 NaN
1  NaN  NaN NaN

## 논리연산은 사용할 수 있지만 키워드는 사용할 수 없다.

In [13]:
df[ (df<3) & (df<4)]

     0    1   2
0  1.0  2.0 NaN
1  NaN  NaN NaN

### 키워드를 넣을 경우 실제 처리할 수 없다.

In [14]:
df[ (df<3) and (df<4)]

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().