In [1]:
import pandas as pd

## 파일에 쓰고 그 파일을 읽어오기

In [2]:
import numpy as np
names = ['Frank', 'Eve', 'Stella', 'Guido', 'Lara']
index = ["January", "February", "March",
         "April", "May", "June",
         "July", "August", "September",
         "October", "November", "December"]
df11 = pd.DataFrame(np.random.randn(12, 5)*1000,
                columns=names,
                index=index)

In [3]:
df11.to_csv('data/counties.csv')

### 파일을 그대로 읽어오면 실제 인덱스가 숫자로 생긴다

In [4]:
df12 = pd.read_csv('data/counties.csv')

In [5]:
df12

   Unnamed: 0        Frank          Eve       Stella        Guido         Lara
0     January   338.781896  -412.342748 -1999.894647  1373.314482  -448.581549
1    February   550.817744  1984.586355  1064.656762  -630.293778   551.885611
2       March   398.385321  1483.409939  1476.725678  -959.204133  -551.360873
3       April -2294.027585 -1484.359223  -455.638398 -1233.470125   627.653321
4         May   289.502919  -672.061452  -599.851798  -433.799379  -187.521816
5        June  -935.036740  -722.672552   374.024060  -686.037999  1632.108248
6        July   753.340503   747.125748   471.290972   -66.418721  -711.162881
7      August -1779.457381  -460.395896   724.940392   -43.983849  1105.644497
8   September  -218.886031  1019.232914 -1961.611030    78.043417 -1221.905530
9     October   599.318369  1963.968905   479.284157  -584.445562  -382.754219
10   November  -563.659235   820.406551   554.981844  -735.493731  -852.029928
11   December   499.107458  -113.069756  -655.385234   968.437251  -286.673462

In [6]:
df12.index

RangeIndex(start=0, stop=12, step=1)

In [7]:
df12.columns

Index(['Unnamed: 0', 'Frank', 'Eve', 'Stella', 'Guido', 'Lara'], dtype='object')

### 특정 칼럼을 인덱스로 처리하기

In [8]:
df13 = pd.read_csv('data/counties.csv',index_col=0)

In [9]:
df13

                 Frank          Eve       Stella        Guido         Lara
January     338.781896  -412.342748 -1999.894647  1373.314482  -448.581549
February    550.817744  1984.586355  1064.656762  -630.293778   551.885611
March       398.385321  1483.409939  1476.725678  -959.204133  -551.360873
April     -2294.027585 -1484.359223  -455.638398 -1233.470125   627.653321
May         289.502919  -672.061452  -599.851798  -433.799379  -187.521816
June       -935.036740  -722.672552   374.024060  -686.037999  1632.108248
July        753.340503   747.125748   471.290972   -66.418721  -711.162881
August    -1779.457381  -460.395896   724.940392   -43.983849  1105.644497
September  -218.886031  1019.232914 -1961.611030    78.043417 -1221.905530
October     599.318369  1963.968905   479.284157  -584.445562  -382.754219
November   -563.659235   820.406551   554.981844  -735.493731  -852.029928
December    499.107458  -113.069756  -655.385234   968.437251  -286.673462

In [10]:
df13.index

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

In [11]:
df13.columns

Index(['Frank', 'Eve', 'Stella', 'Guido', 'Lara'], dtype='object')