# 주요 함수

In [1]:
import pandas as pd
import numpy as np
import types

## stack 과 unstack에 대한 처리

    실제 인덱스에 대한 부분을 처리한다.

In [3]:
help(pd.DataFrame.unstack)

Help on function unstack in module pandas.core.frame:

unstack(self, level=-1, fill_value=None)
    Pivot a level of the (necessarily hierarchical) index labels, returning
    a DataFrame having a new level of column labels whose inner-most level
    consists of the pivoted index labels. If the index is not a MultiIndex,
    the output will be a Series (the analogue of stack when the columns are
    not a MultiIndex).
    The level involved will automatically get sorted.

    Parameters
    ----------
    level : int, string, or list of these, default -1 (last level)
        Level(s) of index to unstack, can pass level name
    fill_value : replace NaN with this value if the unstack produces
        missing values

        .. versionadded: 0.18.0

    See also
    --------
    DataFrame.pivot : Pivot a table based on column values.
    DataFrame.stack : Pivot a level of the column labels (inverse operation
        from `unstack`).

    Examples
    --------
    >>> index = pd.MultiIndex.from_tuples([('one', 'a'), ('one', 'b'),
    ...                                    ('two', 'a'), ('two', 'b')])
    >>> s = pd.Series(np.arange(1.0, 5.0), index=index)
    >>> s
    one  a   1.0
         b   2.0
    two  a   3.0
         b   4.0
    dtype: float64

    >>> s.unstack(level=-1)
         a   b
    one  1.0  2.0
    two  3.0  4.0

    >>> s.unstack(level=0)
       one  two
    a  1.0   3.0
    b  2.0   4.0

    >>> df = s.unstack(level=0)
    >>> df.unstack()
    one  a  1.0
         b  2.0
    two  a  3.0
         b  4.0
    dtype: float64

    Returns
    -------
    unstacked : DataFrame or Series

In [24]:
index = pd.MultiIndex.from_tuples([('one', 'a'), ('one', 'b'),  ('two', 'a'), ('two', 'b')])

In [7]:
s = pd.Series(np.arange(1.0, 5.0), index=index)
s

one  a    1.0
     b    2.0
two  a    3.0
     b    4.0
dtype: float64

### 인덱스에서 두번째만 출력

In [8]:
s.unstack(level=-1)

       a    b
one  1.0  2.0
two  3.0  4.0

In [9]:
s.unstack(level=1)

       a    b
one  1.0  2.0
two  3.0  4.0

In [12]:
df2 = s.unstack(level=0)
df2

   one  two
a  1.0  3.0
b  2.0  4.0

### 실제 레벨에 대한 원위치 처리

In [14]:
help(pd.DataFrame.stack)

Help on function stack in module pandas.core.frame:

stack(self, level=-1, dropna=True)
    Pivot a level of the (possibly hierarchical) column labels, returning a
    DataFrame (or Series in the case of an object with a single level of
    column labels) having a hierarchical index with a new inner-most level
    of row labels.
    The level involved will automatically get sorted.

    Parameters
    ----------
    level : int, string, or list of these, default last level
        Level(s) to stack, can pass level name
    dropna : boolean, default True
        Whether to drop rows in the resulting Frame/Series with no valid
        values

    Examples
    ----------
    >>> s
         a   b
    one  1.  2.
    two  3.  4.

    >>> s.stack()
    one a    1
        b    2
    two a    3
        b    4

    Returns
    -------
    stacked : DataFrame or Series

In [17]:
df2

   one  two
a  1.0  3.0
b  2.0  4.0

In [18]:
df2.stack

<bound method DataFrame.stack of    one  two
a  1.0  3.0
b  2.0  4.0>

In [13]:
df2.unstack()

one  a    1.0
     b    2.0
two  a    3.0
     b    4.0
dtype: float64

In [16]:
df2.stack()

a  one    1.0
   two    3.0
b  one    2.0
   two    4.0
dtype: float64