In [2]:
import pandas as pd
import numpy as np

# 조건부로 집계를 하고 싶을 경우에 groupby를 사용한다.

In [4]:
dir(pd.core.groupby.DataFrameGroupBy)

['__bytes__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_numeric_operations',
 '_agg_doc',
 '_aggregate',
 '_aggregate_generic',
 '_aggregate_item_by_item',
 '_aggregate_multiple_funcs',
 '_apply_filter',
 '_apply_to_column_groupbys',
 '_apply_whitelist',
 '_assure_grouper',
 '_block_agg_axis',
 '_builtin_table',
 '_choose_path',
 '_concat_objects',
 '_constructor',
 '_cumcount_array',
 '_cython_agg_blocks',
 '_cython_agg_general',
 '_cython_table',
 '_cython_transform',
 '_decide_output_index',
 '_def_str',
 '_define_paths',
 '_dir_additions',
 '_dir_deletions',
 '_get_data_to_aggregate',
 '_get_index',
 '_get_indices',
 '_gotitem',
 '_group_selection',
 '_index_with_as_index',
 '_insert_inaxis_grouper_inplace',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cython_func',
 '_iterate_column_groupbys',
 '_iterate_slices',
 '_make_wrapper',
 '_obj_with_exclusions',
 '_post_process_cython_aggregate',
 '_python_agg_general',
 '_python_apply_general',
 '_reindex_output',
 '_reset_cache',
 '_reset_group_selection',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_group_selection',
 '_set_result_index_ordered',
 '_shallow_copy',
 '_transform_fast',
 '_transform_general',
 '_transform_item_by_item',
 '_try_aggregate_string_function',
 '_try_cast',
 '_wrap_agged_blocks',
 '_wrap_aggregated_output',
 '_wrap_applied_output',
 '_wrap_generic_output',
 '_wrap_transformed_output',
 'agg',
 'aggregate',
 'all',
 'any',
 'apply',
 'backfill',
 'bfill',
 'boxplot',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cumcount',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'dtypes',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'get_group',
 'groups',
 'head',
 'hist',
 'idxmax',
 'idxmin',
 'indices',
 'last',
 'mad',
 'max',
 'mean',
 'median',
 'min',
 'ndim',
 'ngroups',
 'nth',
 'nunique',
 'ohlc',
 'pad',
 'pct_change',
 'plot',
 'prod',
 'quantile',
 'rank',
 'resample',
 'rolling',
 'sem',
 'shift',
 'size',
 'skew',
 'std',
 'sum',
 'tail',
 'take',
 'transform',
 'tshift',
 'var']

## 데이터 프레임 만들고 이를 그룹으로 전환하기

In [5]:
df = pd.DataFrame({'key': ['A','B','C','A','B','C'],
                   'data':range(6)})

In [6]:
df

   data key
0     0   A
1     1   B
2     2   C
3     3   A
4     4   B
5     5   C

### 키를 고정해서 처리하기

    columns을 부여하면 이 순서대로 칼럼이 정의된다.

In [4]:
df = pd.DataFrame({'key': ['A','B','C','A','B','C'],
                   'data':range(6)}, columns=['key','data'])

In [5]:
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

### groupby 메소드로 실행하면 새로운 자료형이 생성

In [6]:
a = df.groupby('key')

### 그룹화된 것에 집계 메소드를 이용해서 계산하기

In [7]:
a.sum()

     data
key
A       3
B       5
C       7

In [8]:
a.mean()

     data
key
A     1.5
B     2.5
C     3.5

In [9]:
a.first()

     data
key
A       0
B       1
C       2

In [10]:
a.last()

     data
key
A       3
B       4
C       5

In [11]:
a.mad()

     data
key
A     1.5
B     1.5
C     1.5

In [12]:
for x in a :
    print(x)

('A',   key  data
0   A     0
3   A     3)
('B',   key  data
1   B     1
4   B     4)
('C',   key  data
2   C     2
5   C     5)

### 내부의 속성과 메소드를 확인

In [10]:
a = df.groupby('key')

#### 내부에 key, data 속성이 만들어져 있는 것을 확인할 수 있다

In [11]:
count = 0
for i in dir(a) :
    if not i.startswith("_") :
        print(i, end=" ")
        count += 1
        if count % 5 == 0 :
            print()

agg aggregate all any apply
backfill bfill boxplot corr corrwith
count cov cumcount cummax cummin
cumprod cumsum data describe diff
dtypes expanding ffill fillna filter
first get_group groups head hist
idxmax idxmin indices key last
mad max mean median min
ndim ngroups nth nunique ohlc
pad pct_change plot prod quantile
rank resample rolling sem shift
size skew std sum tail
take transform tshift var

### agg 메소드로 내부적인 함수나 메소드를 호출해서 처리

In [17]:
help(a.agg)

Help on method aggregate in module pandas.core.groupby:

aggregate(arg, *args, **kwargs) method of pandas.core.groupby.DataFrameGroupBy instance
    Aggregate using callable, string, dict, or list of string/callables



    Parameters
    ----------
    func : callable, string, dictionary, or list of string/callables
        Function to use for aggregating the data. If a function, must either
        work when passed a DataFrame or when passed to DataFrame.apply. For
        a DataFrame, can pass a dict, if the keys are DataFrame column names.

        Accepted Combinations are:

        - string function name
        - function
        - list of functions
        - dict of column names -> functions (or list of functions)

    Notes
    -----
    Numpy functions mean/median/prod/sum/std/var are special cased so the
    default behavior is applying the function along axis=0
    (e.g., np.mean(arr_2d, axis=0)) as opposed to
    mimicking the default Numpy behavior (e.g., np.mean(arr_2d)).

    agg is an alias for aggregate. Use it.

    Returns
    -------
    aggregated : DataFrame

    Examples
    --------

    >>> df = pd.DataFrame({'A': [1, 1, 2, 2],
    ...                    'B': [1, 2, 3, 4],
    ...                    'C': np.random.randn(4)})

    >>> df
       A  B         C
    0  1  1  0.362838
    1  1  2  0.227877
    2  2  3  1.267767
    3  2  4 -0.562860

    The aggregation is for each column.

    >>> df.groupby('A').agg('min')
       B         C
    A
    1  1  0.227877
    2  3 -0.562860

    Multiple aggregations

    >>> df.groupby('A').agg(['min', 'max'])
        B             C
      min max       min       max
    A
    1   1   2  0.227877  0.362838
    2   3   4 -0.562860  1.267767

    Select a column for aggregation

    >>> df.groupby('A').B.agg(['min', 'max'])
       min  max
    A
    1    1    2
    2    3    4

    Different aggregations per column

    >>> df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})
        B             C
      min max       sum
    A
    1   1   2  0.590716
    2   3   4  0.704907

    See also
    --------
    pandas.DataFrame.groupby.apply
    pandas.DataFrame.groupby.transform
    pandas.DataFrame.aggregate

In [18]:
a.agg('min')

     data
key
A       0
B       1
C       2

In [19]:
a.agg(['min','max'])

    data
     min max
key
A      0   3
B      1   4
C      2   5

#### key 속성을 확인한다.

In [12]:
a.key.head()

0    A
1    B
2    C
3    A
4    B
5    C
Name: key, dtype: object

#### data 내부의 값을 확인한다.

In [13]:
a.data.head()

0    0
1    1
2    2
3    3
4    4
5    5
Name: data, dtype: int64

## groupby 함수로 실행하면 실제 키에 맞춰 분할됨

In [41]:
for i,v in a :
    print(i, v)

A   key  data
0   A     0
3   A     3
B   key  data
1   B     1
4   B     4
C   key  data
2   C     2
5   C     5

###  실제 데이터는 데이터프레임으로 들어가 있다.

In [49]:
type(i)

str

In [48]:
type(v)

pandas.core.frame.DataFrame

In [50]:
v.values

array([['C', 2],
       ['C', 5]], dtype=object)

In [44]:
v.data

2    2
5    5
Name: data, dtype: int64

In [47]:
v.columns

Index(['key', 'data'], dtype='object')

In [45]:
v.index

Int64Index([2, 5], dtype='int64')

In [51]:
v.shape

(2, 2)

## 분할 된 것을 다시 적용 및 집계

### 합산처리

In [58]:
for i, v in a :
    print(i)
    print(v.sum())

A
key     AA
data     3
dtype: object
B
key     BB
data     5
dtype: object
C
key     CC
data     7
dtype: object

In [8]:
a.sum()

     data
key
A       3
B       5
C       7

### 집계처리

In [38]:
a.describe()

     data
    count mean      std  min   25%  50%   75%  max
key
A     2.0  1.5  2.12132  0.0  0.75  1.5  2.25  3.0
B     2.0  2.5  2.12132  1.0  1.75  2.5  3.25  4.0
C     2.0  3.5  2.12132  2.0  2.75  3.5  4.25  5.0

### 표로 만들어진 것을 해제해서 시리즈로 만들기

In [14]:
a.describe().unstack()

             key
data  count  A      2.00000
             B      2.00000
             C      2.00000
      mean   A      1.50000
             B      2.50000
             C      3.50000
      std    A      2.12132
             B      2.12132
             C      2.12132
      min    A      0.00000
             B      1.00000
             C      2.00000
      25%    A      0.75000
             B      1.75000
             C      2.75000
      50%    A      1.50000
             B      2.50000
             C      3.50000
      75%    A      2.25000
             B      3.25000
             C      4.25000
      max    A      3.00000
             B      4.00000
             C      5.00000
dtype: float64

## seaborn planets 정보를 이용해서 처리

In [15]:
import seaborn as sns

planets = sns.load_dataset('planets')

In [16]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### 특정 칼럼 내의 값으로 그룹을 처리

In [17]:
method = planets.groupby("method")

In [18]:
method.ndim

2

## 키를 구성한 칼럼에 대한 정보 조회

In [19]:
method.method.head()

0                    Radial Velocity
1                    Radial Velocity
2                    Radial Velocity
3                    Radial Velocity
4                    Radial Velocity
29                           Imaging
30                           Imaging
31                           Imaging
32         Eclipse Timing Variations
33                           Imaging
34                           Imaging
37         Eclipse Timing Variations
38         Eclipse Timing Variations
39         Eclipse Timing Variations
40         Eclipse Timing Variations
91                           Transit
92                           Transit
93                           Transit
94                           Transit
95                           Transit
113                       Astrometry
537                       Astrometry
680        Transit Timing Variations
736        Transit Timing Variations
749        Transit Timing Variations
787    Orbital Brightness Modulation
788    Orbital Brightness Modulation
792    Orbital Brightness Modulation
813        Transit Timing Variations
902                     Microlensing
903                     Microlensing
904                     Microlensing
905                     Microlensing
906                     Microlensing
941                    Pulsar Timing
942                    Pulsar Timing
943                    Pulsar Timing
944                    Pulsar Timing
945                    Pulsar Timing
958      Pulsation Timing Variations
Name: method, dtype: object

### 그룹화된 값들을 확인

In [20]:
for (meth, group) in method :
    print(meth, group.shape)

Astrometry (2, 6)
Eclipse Timing Variations (9, 6)
Imaging (38, 6)
Microlensing (23, 6)
Orbital Brightness Modulation (3, 6)
Pulsar Timing (5, 6)
Pulsation Timing Variations (1, 6)
Radial Velocity (553, 6)
Transit (397, 6)
Transit Timing Variations (4, 6)

## 특정 칼럼의 값을 확인

In [21]:
method['number'].head()

0      1
1      1
2      1
3      1
4      1
29     1
30     1
31     1
32     1
33     1
34     1
37     2
38     2
39     2
40     2
91     1
92     1
93     1
94     1
95     1
113    1
537    1
680    2
736    2
749    3
787    2
788    2
792    1
813    2
902    1
903    1
904    1
905    1
906    1
941    3
942    3
943    3
944    1
945    1
958    1
Name: number, dtype: int64

In [22]:
method.groups['Transit']

Int64Index([  91,   92,   93,   94,   95,   96,   97,   99,  100,  101,
            ...
            1023, 1024, 1025, 1026, 1028, 1030, 1031, 1032, 1033, 1034],
           dtype='int64', length=397)

## 특정 칼럼의 집게 메소드 처리

In [23]:
planets.groupby("method")['orbital_period']

In [24]:
planets.groupby("method")['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [25]:
method['year'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,2011.500000,2.121320,2010.0,2010.75,2011.5,2012.25,2013.0
Eclipse Timing Variations,9.0,2010.000000,1.414214,2008.0,2009.00,2010.0,2011.00,2012.0
Imaging,38.0,2009.131579,2.781901,2004.0,2008.00,2009.0,2011.00,2013.0
Microlensing,23.0,2009.782609,2.859697,2004.0,2008.00,2010.0,2012.00,2013.0
Orbital Brightness Modulation,3.0,2011.666667,1.154701,2011.0,2011.00,2011.0,2012.00,2013.0
Pulsar Timing,5.0,1998.400000,8.384510,1992.0,1992.00,1994.0,2003.00,2011.0
Pulsation Timing Variations,1.0,2007.000000,NaN,2007.0,2007.00,2007.0,2007.00,2007.0
Radial Velocity,553.0,2007.518987,4.249052,1989.0,2005.00,2009.0,2011.00,2014.0
Transit,397.0,2011.236776,2.077867,2002.0,2010.00,2012.0,2013.00,2014.0
Transit Timing Variations,4.0,2012.500000,1.290994,2011.0,2011.75,2012.5,2013.25,2014.0

In [26]:
method['year'].describe().unstack()

       method
count  Astrometry                          2.000000
       Eclipse Timing Variations           9.000000
       Imaging                            38.000000
       Microlensing                       23.000000
       Orbital Brightness Modulation       3.000000
       Pulsar Timing                       5.000000
       Pulsation Timing Variations         1.000000
       Radial Velocity                   553.000000
       Transit                           397.000000
       Transit Timing Variations           4.000000
mean   Astrometry                       2011.500000
       Eclipse Timing Variations        2010.000000
       Imaging                          2009.131579
       Microlensing                     2009.782609
       Orbital Brightness Modulation    2011.666667
       Pulsar Timing                    1998.400000
       Pulsation Timing Variations      2007.000000
       Radial Velocity                  2007.518987
       Transit                          2011.236776
       Transit Timing Variations        2012.500000
std    Astrometry                          2.121320
       Eclipse Timing Variations           1.414214
       Imaging                             2.781901
       Microlensing                        2.859697
       Orbital Brightness Modulation       1.154701
       Pulsar Timing                       8.384510
       Pulsation Timing Variations              NaN
       Radial Velocity                     4.249052
       Transit                             2.077867
       Transit Timing Variations           1.290994
                                           ...
50%    Astrometry                       2011.500000
       Eclipse Timing Variations        2010.000000
       Imaging                          2009.000000
       Microlensing                     2010.000000
       Orbital Brightness Modulation    2011.000000
       Pulsar Timing                    1994.000000
       Pulsation Timing Variations      2007.000000
       Radial Velocity                  2009.000000
       Transit                          2012.000000
       Transit Timing Variations        2012.500000
75%    Astrometry                       2012.250000
       Eclipse Timing Variations        2011.000000
       Imaging                          2011.000000
       Microlensing                     2012.000000
       Orbital Brightness Modulation    2012.000000
       Pulsar Timing                    2003.000000
       Pulsation Timing Variations      2007.000000
       Radial Velocity                  2011.000000
       Transit                          2013.000000
       Transit Timing Variations        2013.250000
max    Astrometry                       2013.000000
       Eclipse Timing Variations        2012.000000
       Imaging                          2013.000000
       Microlensing                     2013.000000
       Orbital Brightness Modulation    2013.000000
       Pulsar Timing                    2011.000000
       Pulsation Timing Variations      2007.000000
       Radial Velocity                  2014.000000
       Transit                          2014.000000
       Transit Timing Variations        2014.000000
Length: 80, dtype: float64

## 집계 함수를 가지고 처리하기

In [27]:
method['year'].aggregate(['count','mean'])

                               count         mean
method
Astrometry                         2  2011.500000
Eclipse Timing Variations          9  2010.000000
Imaging                           38  2009.131579
Microlensing                      23  2009.782609
Orbital Brightness Modulation      3  2011.666667
Pulsar Timing                      5  1998.400000
Pulsation Timing Variations        1  2007.000000
Radial Velocity                  553  2007.518987
Transit                          397  2011.236776
Transit Timing Variations          4  2012.500000

In [28]:
method['year'].aggregate(['min','max'])

                                min   max
method
Astrometry                     2010  2013
Eclipse Timing Variations      2008  2012
Imaging                        2004  2013
Microlensing                   2004  2013
Orbital Brightness Modulation  2011  2013
Pulsar Timing                  1992  2011
Pulsation Timing Variations    2007  2007
Radial Velocity                1989  2014
Transit                        2002  2014
Transit Timing Variations      2011  2014

## 그룹으로 처리할 경우 칼럼명을 딕셔너리 키로 처리하고 실행

In [29]:
method.aggregate({'year':['min','max']})

                               year
                                min   max
method
Astrometry                     2010  2013
Eclipse Timing Variations      2008  2012
Imaging                        2004  2013
Microlensing                   2004  2013
Orbital Brightness Modulation  2011  2013
Pulsar Timing                  1992  2011
Pulsation Timing Variations    2007  2007
Radial Velocity                1989  2014
Transit                        2002  2014
Transit Timing Variations      2011  2014

In [33]:
method['year'].transform(lambda x : x - x.mean())

0       -1.518987
1        0.481013
2        3.481013
3       -0.518987
4        1.481013
5        0.481013
6       -5.518987
7      -11.518987
8        0.481013
9        2.481013
10       2.481013
11       1.481013
12       0.481013
13     -11.518987
14      -6.518987
15       1.481013
16     -12.518987
17     -11.518987
18      -3.518987
19      -5.518987
20       3.481013
21      -0.518987
22       1.481013
23       1.481013
24       1.481013
25     -11.518987
26       4.481013
27       0.481013
28       5.481013
29      -4.131579
          ...
1005     0.763224
1006     0.763224
1007     0.763224
1008     0.763224
1009     0.763224
1010     0.763224
1011     0.763224
1012     0.763224
1013     0.763224
1014     0.763224
1015     0.763224
1016     1.763224
1017     0.763224
1018     0.763224
1019     0.763224
1020     0.763224
1021     1.763224
1022     0.763224
1023     0.763224
1024     0.763224
1025     0.763224
1026     2.763224
1027     1.868421
1028     0.763224
1029     2.868421
1030    -5.236776
1031    -4.236776
1032    -4.236776
1033    -3.236776
1034    -3.236776
Name: year, Length: 1035, dtype: float64