In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'key' : ['A','B','C','A','B','C'],
                   'data': range(6)}, columns=['key','data'])

## Groupby 에 해당되는 클래스 확인하기

In [3]:
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

### 키를 기준으로 그룹바이 만들기

In [5]:
gb = df.groupby('key')

In [6]:
gb

In [11]:
gb.sum()

     data
key
A       3
B       5
C       7

### 키에 대한 그룹으로 분할되어있는 것을 확인할 수 있다.

In [15]:
for key,group in gb :
    print(key, group)
    print(group.index, group.columns)
    print(group.shape)

A   key  data
0   A     0
3   A     3
Int64Index([0, 3], dtype='int64') Index(['key', 'data'], dtype='object')
(2, 2)
B   key  data
1   B     1
4   B     4
Int64Index([1, 4], dtype='int64') Index(['key', 'data'], dtype='object')
(2, 2)
C   key  data
2   C     2
5   C     5
Int64Index([2, 5], dtype='int64') Index(['key', 'data'], dtype='object')
(2, 2)

In [20]:
gb.describe()

     data
    count mean      std  min   25%  50%   75%  max
key
A     2.0  1.5  2.12132  0.0  0.75  1.5  2.25  3.0
B     2.0  2.5  2.12132  1.0  1.75  2.5  3.25  4.0
C     2.0  3.5  2.12132  2.0  2.75  3.5  4.25  5.0

In [23]:
gb.describe().unstack()

             key
data  count  A      2.00000
             B      2.00000
             C      2.00000
      mean   A      1.50000
             B      2.50000
             C      3.50000
      std    A      2.12132
             B      2.12132
             C      2.12132
      min    A      0.00000
             B      1.00000
             C      2.00000
      25%    A      0.75000
             B      1.75000
             C      2.75000
      50%    A      1.50000
             B      2.50000
             C      3.50000
      75%    A      2.25000
             B      3.25000
             C      4.25000
      max    A      3.00000
             B      4.00000
             C      5.00000
dtype: float64

### 키를 기준으로 만든 것을 다시 data 칼럼을 기준으로 그룹바이 만들기

In [8]:
gbs = gb['data']

In [9]:
gbs

In [10]:
gbs.sum()

key
A    3
B    5
C    7
Name: data, dtype: int64

In [19]:
for i, group in gbs :
    print(i)
    print(group)
    print(group.index)

A
0    0
3    3
Name: data, dtype: int64
Int64Index([0, 3], dtype='int64')
B
1    1
4    4
Name: data, dtype: int64
Int64Index([1, 4], dtype='int64')
C
2    2
5    5
Name: data, dtype: int64
Int64Index([2, 5], dtype='int64')

In [21]:
gbs.describe()

     count  mean      std  min   25%  50%   75%  max
key
A      2.0   1.5  2.12132  0.0  0.75  1.5  2.25  3.0
B      2.0   2.5  2.12132  1.0  1.75  2.5  3.25  4.0
C      2.0   3.5  2.12132  2.0  2.75  3.5  4.25  5.0

In [22]:
gbs.describe().unstack()

       key
count  A      2.00000
       B      2.00000
       C      2.00000
mean   A      1.50000
       B      2.50000
       C      3.50000
std    A      2.12132
       B      2.12132
       C      2.12132
min    A      0.00000
       B      1.00000
       C      2.00000
25%    A      0.75000
       B      1.75000
       C      2.75000
50%    A      1.50000
       B      2.50000
       C      3.50000
75%    A      2.25000
       B      3.25000
       C      4.25000
max    A      3.00000
       B      4.00000
       C      5.00000
dtype: float64