In [9]:
import pandas as pd
import numpy as np

## 파이썬 기본 날짜 처리

In [2]:
from datetime import datetime

In [3]:
datetime(year=2017, month=10, day=20)

datetime.datetime(2017, 10, 20, 0, 0)

In [4]:
from dateutil import parser

In [5]:
date = parser.parse("4th of July, 2015")

In [7]:
date

datetime.datetime(2015, 7, 4, 0, 0)

In [8]:
date.strftime('%A')

'Saturday'

## 넘파이 기본 날짜처리

In [33]:
for i in dir(np.datetime64) :
    if not i.startswith("_") :
        print(i)

T
all
any
argmax
argmin
argsort
astype
base
byteswap
choose
clip
compress
conj
conjugate
copy
cumprod
cumsum
data
diagonal
dtype
dump
dumps
fill
flags
flat
flatten
getfield
imag
item
itemset
itemsize
max
mean
min
nbytes
ndim
newbyteorder
nonzero
prod
ptp
put
ravel
real
repeat
reshape
resize
round
searchsorted
setfield
setflags
shape
size
sort
squeeze
std
strides
sum
swapaxes
take
tobytes
tofile
tolist
tostring
trace
transpose
var
view

In [11]:
datenp = np.array('2017-10-29',dtype=np.datetime64)

In [12]:
datenp

array(datetime.date(2017, 10, 29), dtype='datetime64[D]')

### 날짜에 벡터화 연산하기

In [13]:
datenp + np.arange(12)

array(['2017-10-29', '2017-10-30', '2017-10-31', '2017-11-01',
       '2017-11-02', '2017-11-03', '2017-11-04', '2017-11-05',
       '2017-11-06', '2017-11-07', '2017-11-08', '2017-11-09'], dtype='datetime64[D]')

### 날짜와 시간을 표시하기

In [14]:
np.datetime64('2017-10-20 12:00')

numpy.datetime64('2017-10-20T12:00')

### 나노초까지 표시하기

In [15]:
np.datetime64('2017-10-20 12:00:59.50','ns')

numpy.datetime64('2017-10-20T12:00:59.500000000')

## 판다스에서 날짜와 시간

In [34]:
help(pd.to_datetime)

Help on function to_datetime in module pandas.core.tools.datetimes:

to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=None, box=True, format=None, exact=True, unit=None, infer_datetime_format=False, origin='unix')
    Convert argument to datetime.

    Parameters
    ----------
    arg : integer, float, string, datetime, list, tuple, 1-d array, Series

        .. versionadded: 0.18.1

           or DataFrame/dict-like

    errors : {'ignore', 'raise', 'coerce'}, default 'raise'

        - If 'raise', then invalid parsing will raise an exception
        - If 'coerce', then invalid parsing will be set as NaT
        - If 'ignore', then invalid parsing will return the input
    dayfirst : boolean, default False
        Specify a date parse order if `arg` is str or its list-likes.
        If True, parses dates with the day first, eg 10/11/12 is parsed as
        2012-11-10.
        Warning: dayfirst=True is not strict, but will prefer to parse
        with day first (this is a known bug, based on dateutil behavior).
    yearfirst : boolean, default False
        Specify a date parse order if `arg` is str or its list-likes.

        - If True parses dates with the year first, eg 10/11/12 is parsed as
          2010-11-12.
        - If both dayfirst and yearfirst are True, yearfirst is preceded (same
          as dateutil).

        Warning: yearfirst=True is not strict, but will prefer to parse
        with year first (this is a known bug, based on dateutil beahavior).

        .. versionadded: 0.16.1

    utc : boolean, default None
        Return UTC DatetimeIndex if True (converting any tz-aware
        datetime.datetime objects as well).
    box : boolean, default True

        - If True returns a DatetimeIndex
        - If False returns ndarray of values.
    format : string, default None
        strftime to parse time, eg "%d/%m/%Y", note that "%f" will parse
        all the way up to nanoseconds.
    exact : boolean, True by default

        - If True, require an exact format match.
        - If False, allow the format to match anywhere in the target string.

    unit : string, default 'ns'
        unit of the arg (D,s,ms,us,ns) denote the unit, which is an
        integer or float number. This will be based off the origin.
        Example, with unit='ms' and origin='unix' (the default), this
        would calculate the number of milliseconds to the unix epoch start.
    infer_datetime_format : boolean, default False
        If True and no `format` is given, attempt to infer the format of the
        datetime strings, and if it can be inferred, switch to a faster
        method of parsing them. In some cases this can increase the parsing
        speed by ~5-10x.
    origin : scalar, default is 'unix'
        Define the reference date. The numeric values would be parsed as number
        of units (defined by `unit`) since this reference date.

        - If 'unix' (or POSIX) time; origin is set to 1970-01-01.
        - If 'julian', unit must be 'D', and origin is set to beginning of
          Julian Calendar. Julian day number 0 is assigned to the day starting
          at noon on January 1, 4713 BC.
        - If Timestamp convertible, origin is set to Timestamp identified by
          origin.

        .. versionadded: 0.20.0

    Returns
    -------
    ret : datetime if parsing succeeded.
        Return type depends on input:

        - list-like: DatetimeIndex
        - Series: Series of datetime64 dtype
        - scalar: Timestamp

        In case when it is not possible to return designated types (e.g. when
        any element of input is before Timestamp.min or after Timestamp.max)
        return will have datetime.datetime type (or correspoding array/Series).

    Examples
    --------

    Assembling a datetime from multiple columns of a DataFrame. The keys can be
    common abbreviations like ['year', 'month', 'day', 'minute', 'second',
    'ms', 'us', 'ns']) or plurals of the same

    >>> df = pd.DataFrame({'year': [2015, 2016],
                           'month': [2, 3],
                           'day': [4, 5]})
    >>> pd.to_datetime(df)
    0   2015-02-04
    1   2016-03-05
    dtype: datetime64[ns]

    If a date does not meet the `timestamp limitations
    <http://pandas.pydata.org/pandas-docs/stable/timeseries.html
    #timeseries-timestamp-limits>`_, passing errors='ignore'
    will return the original input instead of raising any exception.

    Passing errors='coerce' will force an out-of-bounds date to NaT,
    in addition to forcing non-dates (or non-parseable dates) to NaT.

    >>> pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')
    datetime.datetime(1300, 1, 1, 0, 0)
    >>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')
    NaT

    Passing infer_datetime_format=True can often-times speedup a parsing
    if its not an ISO8601 format exactly, but in a regular format.

    >>> s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000']*1000)

    >>> s.head()
    0    3/11/2000
    1    3/12/2000
    2    3/13/2000
    3    3/11/2000
    4    3/12/2000
    dtype: object

    >>> %timeit pd.to_datetime(s,infer_datetime_format=True)
    100 loops, best of 3: 10.4 ms per loop

    >>> %timeit pd.to_datetime(s,infer_datetime_format=False)
    1 loop, best of 3: 471 ms per loop

    Using a unix epoch time

    >>> pd.to_datetime(1490195805, unit='s')
    Timestamp('2017-03-22 15:16:45')
    >>> pd.to_datetime(1490195805433502912, unit='ns')
    Timestamp('2017-03-22 15:16:45.433502912')

    .. warning:: For float arg, precision rounding might happen. To prevent
        unexpected behavior use a fixed-width exact type.

    Using a non-unix epoch origin

    >>> pd.to_datetime([1, 2, 3], unit='D',
                       origin=pd.Timestamp('1960-01-01'))
    0    1960-01-02
    1    1960-01-03
    2    1960-01-04

In [35]:
pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')

datetime.datetime(1300, 1, 1, 0, 0)

### 데이터 프레임으로 만들어진 것을 실제 데이터 타임으로 전환하기

In [38]:
df = pd.DataFrame({'year': [2015, 2016],
                    'month': [2, 3],
                    'day': [4, 5]})
df

   day  month  year
0    4      2  2015
1    5      3  2016

In [37]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

### 문자로 들어온 날짜를 파싱하기

In [17]:
datepd = pd.to_datetime('4th of July, 2020')

In [18]:
datepd

Timestamp('2020-07-04 00:00:00')

In [39]:
pd.Timestamp

pandas._libs.tslib.Timestamp

In [19]:
datepd.strftime('%A')

'Saturday'

### 판다스에서 날짜를 가지고 벡터화 연산처리

In [21]:
datepd + pd.to_timedelta(np.arange(12),'D')

DatetimeIndex(['2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07',
               '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-11',
               '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15'],
              dtype='datetime64[ns]', freq=None)

## 판다스로 하나의 시리즈 만들기

In [23]:
index = pd.DatetimeIndex(['2020-10-01', '2020-10-02','2020-10-03','2020-10-04'])

In [24]:
data = pd.Series([0,1,2,3], index=index)

In [25]:
data

2020-10-01    0
2020-10-02    1
2020-10-03    2
2020-10-04    3
dtype: int64

### 날짜로 인덱싱과 슬라이싱 처리

In [26]:
data['2020-10-01']

0

In [27]:
data['2020-10-01':'2020-10-03']

2020-10-01    0
2020-10-02    1
2020-10-03    2
dtype: int64

### 해당연도의 모든 데이터는 연도만으로도 가져올 수 있다.

In [28]:
data['2020']

2020-10-01    0
2020-10-02    1
2020-10-03    2
2020-10-04    3
dtype: int64

In [29]:
data['2020'].describe()

count    4.000000
mean     1.500000
std      1.290994
min      0.000000
25%      0.750000
50%      1.500000
75%      2.250000
max      3.000000
dtype: float64