# 주요 함수

In [2]:
import pandas as pd
import numpy as np
import types

for i in dir(pd) :
    if i.startswith("_") :
        continue
    if type(pd.__dict__[i]) == types.FunctionType :
        
        print(i,end= ' ')

Expr Term bdate_range concat crosstab cut date_range eval ewma ewmcorr ewmcov ewmstd ewmvar ewmvol expanding_apply expanding_corr expanding_count expanding_cov expanding_kurt expanding_max expanding_mean expanding_median expanding_min expanding_quantile expanding_skew expanding_std expanding_sum expanding_var factorize get_dummies get_store groupby infer_freq interval_range isnull lreshape match melt merge merge_asof merge_ordered notnull ordered_merge period_range pivot pivot_table pnow qcut read_clipboard read_csv read_excel read_feather read_fwf read_gbq read_hdf read_html read_json read_msgpack read_pickle read_sas read_sql read_sql_query read_sql_table read_stata read_table rolling_apply rolling_corr rolling_count rolling_cov rolling_kurt rolling_max rolling_mean rolling_median rolling_min rolling_quantile rolling_skew rolling_std rolling_sum rolling_var rolling_window scatter_matrix set_eng_float_format show_versions test timedelta_range to_datetime to_msgpack to_numeric to_pickle to_timedelta unique value_counts wide_to_long

# 주요 메소드 처리

In [150]:
import types
s = set(dir(pd.Series))
d = set(dir(pd.DataFrame)) 
sd = s & d 

for i in sd :
    if not i.startswith("_") :
        print(i, end = " ")

index compound rdiv unstack from_csv abs duplicated to_period iterkv take transpose reset_index ffill tz_convert mean kurt loc to_clipboard cummin nlargest describe min size last_valid_index axes update memory_usage squeeze values sum corr combine truncate astype first_valid_index reindex append idxmax items drop_duplicates hist tz_localize first to_hdf iteritems reindex_axis rolling add rtruediv pop rmul groupby swapaxes lt select shift shape reindex_like clip combine_first sortlevel kurtosis xs product skew sort sort_values set_axis radd bool get_ftype_counts as_blocks std rpow clip_upper sort_index iat is_copy sub add_prefix isin rename_axis sem align nsmallest replace mode diff to_xarray reorder_levels between_time get_values rsub bfill to_dense pow copy notnull dot round count cumprod dropna cummax floordiv empty to_timestamp head at cumsum ne ndim to_pickle rank expanding iloc mod irow le resample multiply get_value to_msgpack divide to_json to_string median clip_lower plot tail add_suffix keys pipe ewm rfloordiv filter prod pct_change rmod mul T any rename last as_matrix truediv iget_value dtypes var apply to_csv to_sparse drop set_value all equals to_dict consolidate quantile asfreq where mask at_time to_sql eq gt ix ftypes ge fillna cov blocks sample mad swaplevel tshift get_dtype_counts isnull subtract max div convert_objects slice_shift idxmin get interpolate

### 사칙연산

In [154]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3), columns=['A', 'B', 'C'])
df2 = pd.DataFrame(np.arange(1,10).reshape(3,3) *3, columns=['A', 'B', 'C'])
print(df1)
print(df2)

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8
    A   B   C
0   3   6   9
1  12  15  18
2  21  24  27

In [166]:
print(df1.add(df2))
print(df1.sub(df2))
print(df1.radd(df2))
print(df1.rsub(df2))
print(df1.subtract(df2))

    A   B   C
0   3   7  11
1  15  19  23
2  27  31  35
    A   B   C
0  -3  -5  -7
1  -9 -11 -13
2 -15 -17 -19
    A   B   C
0   3   7  11
1  15  19  23
2  27  31  35
    A   B   C
0   3   5   7
1   9  11  13
2  15  17  19
    A   B   C
0  -3  -5  -7
1  -9 -11 -13
2 -15 -17 -19

In [156]:
print(df1.divide(df2))
print(df1.truediv(df2))
print(df1.floordiv(df2))
print(df1.div(df2))

          A         B         C
0  0.000000  0.166667  0.222222
1  0.250000  0.266667  0.277778
2  0.285714  0.291667  0.296296
          A         B         C
0  0.000000  0.166667  0.222222
1  0.250000  0.266667  0.277778
2  0.285714  0.291667  0.296296
   A  B  C
0  0  0  0
1  0  0  0
2  0  0  0
          A         B         C
0  0.000000  0.166667  0.222222
1  0.250000  0.266667  0.277778
2  0.285714  0.291667  0.296296

In [159]:
print(df1.mul(df2))
print(df1.rmul(df2))
print(df1.multiply(df2))
print(df1.mod(df2))

     A    B    C
0    0    6   18
1   36   60   90
2  126  168  216
     A    B    C
0    0    6   18
1   36   60   90
2  126  168  216
     A    B    C
0    0    6   18
1   36   60   90
2  126  168  216
   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [171]:
print(df1.pow(df2))
print(df1.rpow(df2))

            A           B          C
0           0           1        512
1      531441  1073741824  766306777
2  1449132032  1452577857          0
          A          B           C
0         1          6          81
1      1728      50625     1889568
2  85766121  291504128 -1038305055

### 비교연산

In [169]:
print(df1.le(df2))
print(df1.ne(df2))

      A     B     C
0  True  True  True
1  True  True  True
2  True  True  True
      A     B     C
0  True  True  True
1  True  True  True
2  True  True  True

In [168]:
print(df1.eq(df2))
print(df1.equals(df2))

       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False
False

In [163]:
print(df1.ge(df2))

       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False

In [164]:
print(df1.lt(df2))

      A     B     C
0  True  True  True
1  True  True  True
2  True  True  True

In [165]:
print(df1.gt(df2))

       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False

In [180]:
df1.to_pickle("data.pkl")

### 특정 컬럼에 큰 값이나 작은 값을 조회

In [248]:
dfa1.nlargest(3,columns='A')

                   A         B         C
2000-01-05  1.111170  0.938332 -0.104852
2000-01-02  0.557821  0.289315  0.645696
2000-01-06  0.484249  0.556453  0.006105

In [249]:
dfa1.nsmallest(3,columns='A')

                   A         B         C
2000-01-10 -1.155062  0.691866 -1.448892
2000-01-04 -0.462389  0.288112  0.023539
2000-01-07 -0.371468  2.196942  1.402377

###  the compound percentage of the values

In [221]:
help(df1.compound)

Help on method compound in module pandas.core.generic:

compound(axis=None, skipna=None, level=None) method of pandas.core.frame.DataFrame instance
    Return the compound percentage of the values for the requested axis

    Parameters
    ----------
    axis : {index (0), columns (1)}
    skipna : boolean, default True
        Exclude NA/null values. If an entire row/column is NA, the result
        will be NA
    level : int or level name, default None
        If the axis is a MultiIndex (hierarchical), count along a
        particular level, collapsing into a Series
    numeric_only : boolean, default None
        Include only float, int, boolean data. If None, will attempt to use
        everything, then use only numeric data

    Returns
    -------
    compounded : Series or DataFrame (if level specified)

In [218]:
df1

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [222]:
df1.compound(0)

A     27
B     79
C    161
dtype: int32

In [223]:
df1.compound(1)

0      5
1    119
2    503
dtype: int32