## 판다스의 데이터 추가

In [2]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.5.0-py2.py3-none-any.whl (74kB)
    100% |████████████████████████████████| 81kB 77kB/s ta 0:00:01
Requirement already satisfied: pandas>=0.17.0 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from pandas_datareader)
Collecting requests-ftp (from pandas_datareader)
  Downloading requests-ftp-0.3.1.tar.gz
Collecting requests-file (from pandas_datareader)
  Downloading requests-file-1.4.2.tar.gz
Requirement already satisfied: requests>=2.3.0 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from pandas_datareader)
Requirement already satisfied: python-dateutil>=2 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: pytz>=2011k in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: numpy>=1.7.0 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: six in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from requests-file->pandas_datareader)
Requirement already satisfied: idna<2.7,>=2.5 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from requests>=2.3.0->pandas_datareader)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from requests>=2.3.0->pandas_datareader)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from requests>=2.3.0->pandas_datareader)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from requests>=2.3.0->pandas_datareader)
Building wheels for collected packages: requests-ftp, requests-file
  Running setup.py bdist_wheel for requests-ftp ... done
  Stored in directory: /Users/dahlmoon/Library/Caches/pip/wheels/76/fb/0d/1026eb562c34a4982dc9d39c9c582a734eefe7f0455f711deb
  Running setup.py bdist_wheel for requests-file ... done
  Stored in directory: /Users/dahlmoon/Library/Caches/pip/wheels/3e/34/3a/c2e634ca7b545510c1b3b7d94dea084e5fdb5f33558f3c3a81
Successfully built requests-ftp requests-file
Installing collected packages: requests-ftp, requests-file, pandas-datareader
Successfully installed pandas-datareader-0.5.0 requests-file-1.4.2 requests-ftp-0.3.1

In [3]:
import pandas as pd
import pandas_datareader.data as web

In [10]:
dir(web)

['DataReader',
 'EdgarIndexReader',
 'EnigmaReader',
 'EurostatReader',
 'FamaFrenchReader',
 'FredReader',
 'GoogleDailyReader',
 'GoogleOptions',
 'GoogleQuotesReader',
 'OECDReader',
 'Options',
 'QuandlReader',
 'YahooActionReader',
 'YahooDailyReader',
 'YahooDivReader',
 'YahooOptions',
 'YahooQuotesReader',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'get_components_yahoo',
 'get_data_enigma',
 'get_data_famafrench',
 'get_data_fred',
 'get_data_google',
 'get_data_quandl',
 'get_data_yahoo',
 'get_data_yahoo_actions',
 'get_nasdaq_symbols',
 'get_quote_google',
 'get_quote_yahoo',
 'warnings']

In [9]:
help(web.DataReader)

Help on function DataReader in module pandas_datareader.data:

DataReader(name, data_source=None, start=None, end=None, retry_count=3, pause=0.001, session=None, access_key=None)
    Imports data from a number of online sources.

    Currently supports Yahoo! Finance, Google Finance, St. Louis FED (FRED),
    Kenneth French's data library, and the SEC's EDGAR Index.

    Parameters
    ----------
    name : str or list of strs
        the name of the dataset. Some data sources (yahoo, google, fred) will
        accept a list of names.
    data_source: {str, None}
        the data source ("yahoo", "yahoo-actions", "yahoo-dividends",
        "google", "fred", "ff", or "edgar-index")
    start : {datetime, None}
        left boundary for range (defaults to 1/1/2010)
    end : {datetime, None}
        right boundary for range (defaults to today)
    retry_count : {int, 3}
        Number of times to retry query request.
    pause : {numeric, 0.001}
        Time, in seconds, to pause between consecutive queries of chunks. If
        single value given for symbol, represents the pause between retries.
    session : Session, default None
            requests.sessions.Session instance to be used

    Examples
    ----------

    # Data from Yahoo! Finance
    gs = DataReader("GS", "yahoo")

    # Corporate Actions (Dividend and Split Data)
    # with ex-dates from Yahoo! Finance
    gs = DataReader("GS", "yahoo-actions")

    # Data from Google Finance
    aapl = DataReader("AAPL", "google")

    # Data from FRED
    vix = DataReader("VIXCLS", "fred")

    # Data from Fama/French
    ff = DataReader("F-F_Research_Data_Factors", "famafrench")
    ff = DataReader("F-F_Research_Data_Factors_weekly", "famafrench")
    ff = DataReader("6_Portfolios_2x3", "famafrench")
    ff = DataReader("F-F_ST_Reversal_Factor", "famafrench")

    # Data from EDGAR index
    ed = DataReader("full", "edgar-index")
    ed2 = DataReader("daily", "edgar-index")

In [6]:
gs = web.DataReader("078930.KS", "yahoo", "2014-01-01", "2017-10-06")

In [7]:
gs.head()

               Open     High      Low    Close     Adj Close    Volume
Date
2014-01-02  58200.0  58300.0  56000.0  56400.0  51602.105469  247497.0
2014-01-03  56500.0  56700.0  55100.0  55700.0  50961.656250  220482.0
2014-01-06  55400.0  55800.0  54600.0  55500.0  50778.664063  190935.0
2014-01-07  55000.0  55600.0  54900.0  55100.0  50412.695313  179610.0
2014-01-08  55300.0  55400.0  53700.0  54300.0  49680.750000  374566.0

In [8]:
gs.tail()

               Open     High      Low    Close  Adj Close    Volume
Date
2017-09-27  64700.0  65800.0  64700.0  65800.0    65800.0  118293.0
2017-09-28  65000.0  65000.0  64100.0  64600.0    64600.0  169122.0
2017-09-29  64800.0  65600.0  64400.0  65600.0    65600.0  147107.0
2017-10-02  65600.0  65600.0  65600.0  65600.0    65600.0       0.0
2017-10-10  65600.0  65600.0  65600.0  65600.0    65600.0       0.0

In [22]:
gs.shape

(927, 6)

## 널값을 존재 확인

In [24]:
gs['Adj Close'].isnull()

Date
2014-01-02    False
2014-01-03    False
2014-01-06    False
2014-01-07    False
2014-01-08    False
2014-01-09     True
2014-01-10    False
2014-01-13    False
2014-01-14     True
2014-01-15     True
2014-01-16     True
2014-01-17    False
2014-01-20    False
2014-01-21    False
2014-01-22    False
2014-01-23    False
2014-01-24    False
2014-01-27    False
2014-01-28    False
2014-01-29    False
2014-02-03    False
2014-02-04    False
2014-02-05    False
2014-02-06    False
2014-02-07    False
2014-02-10    False
2014-02-11    False
2014-02-12    False
2014-02-13    False
2014-02-14    False
              ...
2017-08-22    False
2017-08-23    False
2017-08-24    False
2017-08-25    False
2017-08-28    False
2017-08-29    False
2017-08-30    False
2017-08-31    False
2017-09-01    False
2017-09-04    False
2017-09-05    False
2017-09-06    False
2017-09-07    False
2017-09-08    False
2017-09-11    False
2017-09-12    False
2017-09-13    False
2017-09-14    False
2017-09-15    False
2017-09-18    False
2017-09-19    False
2017-09-20    False
2017-09-21    False
2017-09-25    False
2017-09-26    False
2017-09-27    False
2017-09-28    False
2017-09-29    False
2017-10-02    False
2017-10-10    False
Name: Adj Close, Length: 927, dtype: bool

## 널값을 제거

In [28]:
gs['Adj Close'] = gs['Adj Close'].fillna(method='bfill')

### 전체가 펄스인지 확인

In [31]:
gs['Adj Close'].isnull().all()

False

### 하나라도 참이 있는 지를 확인

In [32]:
gs['Adj Close'].isnull().any()

False

## 5일 기준의 이동평균을 계산하기

In [33]:
ma5 = gs['Adj Close'].rolling(window=5).mean()

In [34]:
ma5.head()

Date
2014-01-02             NaN
2014-01-03             NaN
2014-01-06             NaN
2014-01-07             NaN
2014-01-08    50687.174219
Name: Adj Close, dtype: float64

In [35]:
ma5.tail()

Date
2017-09-27    65260.0
2017-09-28    64960.0
2017-09-29    64800.0
2017-10-02    65120.0
2017-10-10    65440.0
Name: Adj Close, dtype: float64

## 20 일 이상 이동평균 구하기

In [36]:
ma20 = gs['Adj Close'].rolling(window=20).mean()

In [37]:
ma20.tail()

Date
2017-09-27    66765.0
2017-09-28    66500.0
2017-09-29    66250.0
2017-10-02    66090.0
2017-10-10    65985.0
Name: Adj Close, dtype: float64

In [38]:
ma60 = gs['Adj Close'].rolling(window=60).mean()

In [39]:
ma60.tail()

Date
2017-09-27    70063.333333
2017-09-28    69993.333333
2017-09-29    69946.666667
2017-10-02    69906.666667
2017-10-10    69846.666667
Name: Adj Close, dtype: float64

In [40]:
ma120 = gs['Adj Close'].rolling(window=120).mean()

In [41]:
ma120.tail()

Date
2017-09-27    67300.000000
2017-09-28    67360.833333
2017-09-29    67434.166667
2017-10-02    67502.500000
2017-10-10    67570.833333
Name: Adj Close, dtype: float64

In [49]:
new_gs = pd.DataFrame(gs['Adj Close'], columns=['Adj Close'])

In [50]:
new_gs['ma5'] = ma5

In [51]:
new_gs.index

Index([2014-01-02 00:00:00, 2014-01-03 00:00:00, 2014-01-06 00:00:00,
       2014-01-07 00:00:00, 2014-01-08 00:00:00, 2014-01-09 00:00:00,
       2014-01-10 00:00:00, 2014-01-13 00:00:00, 2014-01-14 00:00:00,
       2014-01-15 00:00:00,
       ...
       2017-09-20 00:00:00, 2017-09-21 00:00:00, 2017-09-25 00:00:00,
       2017-09-26 00:00:00, 2017-09-27 00:00:00, 2017-09-28 00:00:00,
       2017-09-29 00:00:00, 2017-10-02 00:00:00, 2017-10-10 00:00:00,
                     'ma5'],
      dtype='object', name='Date', length=928)

In [52]:
new_gs.columns

Index(['Adj Close', 'ma5'], dtype='object')

In [53]:
new_gs.head()

                    Adj Close           ma5
Date
2014-01-02 00:00:00   51602.1           NaN
2014-01-03 00:00:00   50961.7           NaN
2014-01-06 00:00:00   50778.7           NaN
2014-01-07 00:00:00   50412.7           NaN
2014-01-08 00:00:00   49680.8  50687.174219

In [61]:
new_gs['Adj Close'][:5].mean()

50687.174219

In [54]:
new_gs['ma20'] = ma20

In [56]:
new_gs.head(20)

                    Adj Close           ma5          ma20
Date
2014-01-02 00:00:00   51602.1           NaN           NaN
2014-01-03 00:00:00   50961.7           NaN           NaN
2014-01-06 00:00:00   50778.7           NaN           NaN
2014-01-07 00:00:00   50412.7           NaN           NaN
2014-01-08 00:00:00   49680.8  50687.174219           NaN
2014-01-09 00:00:00   48765.8  50119.917188           NaN
2014-01-10 00:00:00   48765.8  49680.750000           NaN
2014-01-13 00:00:00   48857.3  49296.479688           NaN
2014-01-14 00:00:00   48491.3  48912.208594           NaN
2014-01-15 00:00:00   48491.3  48674.326563           NaN
2014-01-16 00:00:00   48491.3  48619.430469           NaN
2014-01-17 00:00:00   48491.3  48564.534375           NaN
2014-01-20 00:00:00   48491.3  48491.339844           NaN
2014-01-21 00:00:00   48857.3  48564.534375           NaN
2014-01-22 00:00:00   48857.3  48637.728906           NaN
2014-01-23 00:00:00   48491.3  48637.728906           NaN
2014-01-24 00:00:00   48582.8  48656.028125           NaN
2014-01-27 00:00:00   47759.4  48509.639063           NaN
2014-01-28 00:00:00   47484.9  48235.160156           NaN
2014-01-29 00:00:00     46936  47850.889063  48962.529688

In [62]:
new_gs['Adj Close'][:20].mean()

48962.529687700015

In [57]:
new_gs['ma60'] = ma60

In [58]:
new_gs.head(60)

                    Adj Close           ma5          ma20          ma60
Date
2014-01-02 00:00:00   51602.1           NaN           NaN           NaN
2014-01-03 00:00:00   50961.7           NaN           NaN           NaN
2014-01-06 00:00:00   50778.7           NaN           NaN           NaN
2014-01-07 00:00:00   50412.7           NaN           NaN           NaN
2014-01-08 00:00:00   49680.8  50687.174219           NaN           NaN
2014-01-09 00:00:00   48765.8  50119.917188           NaN           NaN
2014-01-10 00:00:00   48765.8  49680.750000           NaN           NaN
2014-01-13 00:00:00   48857.3  49296.479688           NaN           NaN
2014-01-14 00:00:00   48491.3  48912.208594           NaN           NaN
2014-01-15 00:00:00   48491.3  48674.326563           NaN           NaN
2014-01-16 00:00:00   48491.3  48619.430469           NaN           NaN
2014-01-17 00:00:00   48491.3  48564.534375           NaN           NaN
2014-01-20 00:00:00   48491.3  48491.339844           NaN           NaN
2014-01-21 00:00:00   48857.3  48564.534375           NaN           NaN
2014-01-22 00:00:00   48857.3  48637.728906           NaN           NaN
2014-01-23 00:00:00   48491.3  48637.728906           NaN           NaN
2014-01-24 00:00:00   48582.8  48656.028125           NaN           NaN
2014-01-27 00:00:00   47759.4  48509.639063           NaN           NaN
2014-01-28 00:00:00   47484.9  48235.160156           NaN           NaN
2014-01-29 00:00:00     46936  47850.889063  48962.529688           NaN
2014-02-03 00:00:00   46478.5  47448.319531  48706.349024           NaN
2014-02-04 00:00:00   45746.5  46881.061719  48445.593555           NaN
2014-02-05 00:00:00   45563.6  46441.895313  48184.838477           NaN
2014-02-06 00:00:00   45655.1  46075.922656  47946.956446           NaN
2014-02-07 00:00:00   43825.2  45453.769531  47654.178516           NaN
2014-02-10 00:00:00   44236.9  45005.453125  47427.733008           NaN
2014-02-11 00:00:00   44831.6  44822.467188  47231.022852           NaN
2014-02-12 00:00:00   44877.4  44685.226563  47032.025195           NaN
2014-02-13 00:00:00   45197.6  44593.732813  46867.337500           NaN
2014-02-14 00:00:00   45380.6  44904.809375  46711.799219           NaN
2014-02-17 00:00:00   45609.3  45179.289063  46567.697656           NaN
2014-02-18 00:00:00   45655.1  45343.976563  46425.883399           NaN
2014-02-19 00:00:00   45563.6  45481.217188  46279.494531           NaN
2014-02-20 00:00:00   45700.8  45581.860156  46121.668945           NaN
2014-02-21 00:00:00   45929.5  45691.651563  45975.279883           NaN
2014-02-24 00:00:00     45838  45737.398438  45842.615039           NaN
2014-02-25 00:00:00     45838  45773.996094  45705.375391           NaN
2014-02-26 00:00:00     45838  45828.892188  45609.307813           NaN
2014-02-27 00:00:00   45334.8  45755.697656  45501.803320           NaN
2014-02-28 00:00:00   45334.8  45636.757031  45421.746875           NaN
2014-03-03 00:00:00   44968.9  45462.919531  45346.265039           NaN
2014-03-04 00:00:00   44694.4  45234.186719  45293.656641           NaN
2014-03-05 00:00:00   45060.4  45078.648438  45268.496094           NaN
2014-03-06 00:00:00   45334.8  45078.648438  45252.484766           NaN
2014-03-07 00:00:00   45929.5  45197.589063  45357.701758           NaN
2014-03-10 00:00:00   45197.6  45243.335156  45405.735547           NaN
2014-03-11 00:00:00   45197.6  45343.976563  45424.033985           NaN
2014-03-12 00:00:00   45197.6  45371.423438  45440.045313           NaN
2014-03-13 00:00:00   45197.6  45343.975000  45440.045313           NaN
2014-03-14 00:00:00   45517.8  45261.632032  45446.907422           NaN
2014-03-17 00:00:00   45517.8  45325.678125  45442.332813           NaN
2014-03-18 00:00:00   45472.1  45380.575000  45433.183594           NaN
2014-03-19 00:00:00   44968.9  45334.828906  45403.448242           NaN
2014-03-20 00:00:00   43184.7  44932.260156  45277.645313           NaN
2014-03-21 00:00:00   43093.2  44447.346875  45135.831250           NaN
2014-03-24 00:00:00   43230.5  43989.881250  45005.453516           NaN
2014-03-25 00:00:00   44053.9  43706.252344  44916.247656           NaN
2014-03-26 00:00:00   43916.7  43495.818750  44820.179883           NaN
2014-03-27 00:00:00   43367.7  43532.415625  44721.824805           NaN
2014-03-28 00:00:00   43916.7  43697.103125  44650.917774  46345.064779

In [63]:
new_gs['Adj Close'][:60].mean()

46345.064778816675

## 판다스 io는 사용하지 않는다.

In [64]:
from pandas.io import data, wb # becomes 
from pandas_datareader import data, wb

ImportError: The pandas.io.data module is moved to a separate package (pandas-datareader). After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.

In [65]:
from pandas_datareader import data, wb

In [67]:
dir(data)

['DataReader',
 'EdgarIndexReader',
 'EnigmaReader',
 'EurostatReader',
 'FamaFrenchReader',
 'FredReader',
 'GoogleDailyReader',
 'GoogleOptions',
 'GoogleQuotesReader',
 'OECDReader',
 'Options',
 'QuandlReader',
 'YahooActionReader',
 'YahooDailyReader',
 'YahooDivReader',
 'YahooOptions',
 'YahooQuotesReader',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'get_components_yahoo',
 'get_data_enigma',
 'get_data_famafrench',
 'get_data_fred',
 'get_data_google',
 'get_data_quandl',
 'get_data_yahoo',
 'get_data_yahoo_actions',
 'get_nasdaq_symbols',
 'get_quote_google',
 'get_quote_yahoo',
 'warnings']

In [68]:
dir(wb)

['WorldBankReader',
 '_BaseReader',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_cached_series',
 'country_codes',
 'download',
 'get_countries',
 'get_indicators',
 'lrange',
 'np',
 'pd',
 'reduce',
 'search',
 'string_types',
 'warnings']

In [69]:
df = data.DataReader("KRX:KOSPI", "google")