# 주요 함수

In [1]:
import pandas as pd
import numpy as np
import types

## 내부적인 데이터들이 중복을 위해 처리

In [4]:
ss = pd.Series(np.arange(1.0, 5.0))

df3 = pd.DataFrame([ss,ss,ss])

In [5]:
help(df3.duplicated)

Help on method duplicated in module pandas.core.frame:

duplicated(subset=None, keep='first') method of pandas.core.frame.DataFrame instance
    Return boolean Series denoting duplicate rows, optionally only
    considering certain columns

    Parameters
    ----------
    subset : column label or sequence of labels, optional
        Only consider certain columns for identifying duplicates, by
        default use all of the columns
    keep : {'first', 'last', False}, default 'first'
        - ``first`` : Mark duplicates as ``True`` except for the
          first occurrence.
        - ``last`` : Mark duplicates as ``True`` except for the
          last occurrence.
        - False : Mark all duplicates as ``True``.

    Returns
    -------
    duplicated : Series

In [6]:
df3

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  1.0  2.0  3.0  4.0
2  1.0  2.0  3.0  4.0

In [7]:
df3.duplicated()

0    False
1     True
2     True
dtype: bool

### 중복을 제거

In [8]:
df3.drop_duplicates()

     0    1    2    3
0  1.0  2.0  3.0  4.0

In [9]:
df3

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  1.0  2.0  3.0  4.0
2  1.0  2.0  3.0  4.0

In [10]:
df3.drop_duplicates(inplace=True)

In [11]:
df3

     0    1    2    3
0  1.0  2.0  3.0  4.0