# 주요 함수

In [6]:
import pandas as pd
import numpy as np
import types

for i in dir(pd) :
    if i.startswith("_") :
        continue
    if type(pd.__dict__[i]) == types.FunctionType :
        
        print(i,end= ' ')

bdate_range concat crosstab cut date_range eval ewma ewmcorr ewmcov ewmstd ewmvar ewmvol expanding_apply expanding_corr expanding_count expanding_cov expanding_kurt expanding_max expanding_mean expanding_median expanding_min expanding_quantile expanding_skew expanding_std expanding_sum expanding_var factorize fama_macbeth get_dummies get_store groupby infer_freq isnull lreshape match melt merge notnull ols ordered_merge period_range pivot pivot_table pnow qcut read_clipboard read_csv read_excel read_fwf read_gbq read_hdf read_html read_json read_msgpack read_pickle read_sas read_sql read_sql_query read_sql_table read_stata read_table rolling_apply rolling_corr rolling_count rolling_cov rolling_kurt rolling_max rolling_mean rolling_median rolling_min rolling_quantile rolling_skew rolling_std rolling_sum rolling_var rolling_window scatter_matrix set_eng_float_format show_versions timedelta_range to_datetime to_msgpack to_numeric to_pickle to_timedelta unique value_counts wide_to_long

### concat  통합하기

In [9]:
df = pd.DataFrame(np.arange(16).reshape(4,4), columns=['a','b','c','d'])
print(df)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [11]:
pd.concat([df,df])

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
pd.concat([df,df],axis=1)

    a   b   c   d   a   b   c   d
0   0   1   2   3   0   1   2   3
1   4   5   6   7   4   5   6   7
2   8   9  10  11   8   9  10  11
3  12  13  14  15  12  13  14  15

####  열이 다른 경우에는 횡으로 붙이면 원소가 불일지 되는 곳에는 NaN으로 처리

In [15]:
df1 = pd.DataFrame(np.arange(16,32).reshape(4,4), index=[11,12,13,14],columns=['a','b','c','d'])
print(df1)

     a   b   c   d
11  16  17  18  19
12  20  21  22  23
13  24  25  26  27
14  28  29  30  31

In [16]:
pd.concat([df,df1],axis=1)

       a     b     c     d     a     b     c     d
0    0.0   1.0   2.0   3.0   NaN   NaN   NaN   NaN
1    4.0   5.0   6.0   7.0   NaN   NaN   NaN   NaN
2    8.0   9.0  10.0  11.0   NaN   NaN   NaN   NaN
3   12.0  13.0  14.0  15.0   NaN   NaN   NaN   NaN
11   NaN   NaN   NaN   NaN  16.0  17.0  18.0  19.0
12   NaN   NaN   NaN   NaN  20.0  21.0  22.0  23.0
13   NaN   NaN   NaN   NaN  24.0  25.0  26.0  27.0
14   NaN   NaN   NaN   NaN  28.0  29.0  30.0  31.0

In [17]:
pd.concat([df,df1],axis=0)

     a   b   c   d
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
11  16  17  18  19
12  20  21  22  23
13  24  25  26  27
14  28  29  30  31

### Merge 통합하기

    배열을 join해서 합치는 역할을 한다. 병합이 되면 index가 사라진다.
    특정 열에 대해 동일한 값이 있다면 병합이 inner join이 처리되면 다른 값이 있을 때는 outer join으로 처리된다.

In [98]:
df11 = pd.DataFrame(np.arange(16).reshape(4,4), index=['a','b','c','d'],columns=['f','g','h','i'])
print(df11)
df12 = pd.DataFrame(np.arange(16,32).reshape(4,4), index=['a','b','c','d'],columns=['f','g','h','i'])
print(df12)

df22 = pd.DataFrame(np.arange(16).reshape(4,4), index=['a','b','c','d'],columns=['f','g','h','i'])
print(df12)

    f   g   h   i
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
    f   g   h   i
a  16  17  18  19
b  20  21  22  23
c  24  25  26  27
d  28  29  30  31
    f   g   h   i
a  16  17  18  19
b  20  21  22  23
c  24  25  26  27
d  28  29  30  31

In [25]:
help(pd.merge)

Help on function merge in module pandas.tools.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)
    Merge DataFrame objects by performing a database-style join operation by
    columns or indexes.

    If joining columns on columns, the DataFrame indexes *will be
    ignored*. Otherwise if joining indexes on indexes or indexes on a column or
    columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        * left: use only keys from left frame (SQL: left outer join)
        * right: use only keys from right frame (SQL: right outer join)
        * outer: use union of keys from both frames (SQL: full outer join)
        * inner: use intersection of keys from both frames (SQL: inner join)
    on : label or list
        Field names to join on. Must be found in both DataFrames. If on is
        None and not merging on indexes, then it merges on the intersection of
        the columns by default.
    left_on : label or list, or array-like
        Field names to join on in left DataFrame. Can be a vector or list of
        vectors of the length of the DataFrame to use a particular vector as
        the join key instead of columns
    right_on : label or list, or array-like
        Field names to join on in right DataFrame or vector/list of vectors per
        left_on docs
    left_index : boolean, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels
    right_index : boolean, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index
    sort : boolean, default False
        Sort the join keys lexicographically in the result DataFrame
    suffixes : 2-length sequence (tuple, list, ...)
        Suffix to apply to overlapping column names in the left and right
        side, respectively
    copy : boolean, default True
        If False, do not copy data unnecessarily
    indicator : boolean or string, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

        .. versionadded:: 0.17.0

    Examples
    --------

    >>> A              >>> B
        lkey value         rkey value
    0   foo  1         0   foo  5
    1   bar  2         1   bar  6
    2   baz  3         2   qux  7
    3   foo  4         3   bar  8

    >>> A.merge(B, left_on='lkey', right_on='rkey', how='outer')
       lkey  value_x  rkey  value_y
    0  foo   1        foo   5
    1  foo   4        foo   5
    2  bar   2        bar   6
    3  bar   2        bar   8
    4  baz   3        NaN   NaN
    5  NaN   NaN      qux   7

    Returns
    -------
    merged : DataFrame
        The output type will the be same as 'left', if it is a subclass
        of DataFrame.

In [33]:
pd.merge(df11,df12)

Empty DataFrame
Columns: [f, g, h, i]
Index: []

In [34]:
print(pd.merge(df11,df12, left_on="f", right_on="f",how='outer'))

      f   g_x   h_x   i_x   g_y   h_y   i_y
0   0.0   1.0   2.0   3.0   NaN   NaN   NaN
1   4.0   5.0   6.0   7.0   NaN   NaN   NaN
2   8.0   9.0  10.0  11.0   NaN   NaN   NaN
3  12.0  13.0  14.0  15.0   NaN   NaN   NaN
4  16.0   NaN   NaN   NaN  17.0  18.0  19.0
5  20.0   NaN   NaN   NaN  21.0  22.0  23.0
6  24.0   NaN   NaN   NaN  25.0  26.0  27.0
7  28.0   NaN   NaN   NaN  29.0  30.0  31.0

In [40]:
print(pd.merge(df11,df12, on="f",how='outer'))

      f   g_x   h_x   i_x   g_y   h_y   i_y
0   0.0   1.0   2.0   3.0   NaN   NaN   NaN
1   4.0   5.0   6.0   7.0   NaN   NaN   NaN
2   8.0   9.0  10.0  11.0   NaN   NaN   NaN
3  12.0  13.0  14.0  15.0   NaN   NaN   NaN
4  16.0   NaN   NaN   NaN  17.0  18.0  19.0
5  20.0   NaN   NaN   NaN  21.0  22.0  23.0
6  24.0   NaN   NaN   NaN  25.0  26.0  27.0
7  28.0   NaN   NaN   NaN  29.0  30.0  31.0

In [99]:
print(pd.merge(df11,df12, on="f",how='left'))

    f  g_x  h_x  i_x  g_y  h_y  i_y
0   0    1    2    3  NaN  NaN  NaN
1   4    5    6    7  NaN  NaN  NaN
2   8    9   10   11  NaN  NaN  NaN
3  12   13   14   15  NaN  NaN  NaN

In [100]:
print(pd.merge(df11,df12, on="f",how='right'))

    f  g_x  h_x  i_x  g_y  h_y  i_y
0  16  NaN  NaN  NaN   17   18   19
1  20  NaN  NaN  NaN   21   22   23
2  24  NaN  NaN  NaN   25   26   27
3  28  NaN  NaN  NaN   29   30   31

In [43]:
print(pd.merge(df11,df22, on='f', how='inner'))

    f  g_x  h_x  i_x  g_y  h_y  i_y
0   0    1    2    3    1    2    3
1   4    5    6    7    5    6    7
2   8    9   10   11    9   10   11
3  12   13   14   15   13   14   15

# 주요 메소드 처리

In [150]:
import types
s = set(dir(pd.Series))
d = set(dir(pd.DataFrame)) 
sd = s & d 

for i in sd :
    if not i.startswith("_") :
        print(i, end = " ")

index compound rdiv unstack from_csv abs duplicated to_period iterkv take transpose reset_index ffill tz_convert mean kurt loc to_clipboard cummin nlargest describe min size last_valid_index axes update memory_usage squeeze values sum corr combine truncate astype first_valid_index reindex append idxmax items drop_duplicates hist tz_localize first to_hdf iteritems reindex_axis rolling add rtruediv pop rmul groupby swapaxes lt select shift shape reindex_like clip combine_first sortlevel kurtosis xs product skew sort sort_values set_axis radd bool get_ftype_counts as_blocks std rpow clip_upper sort_index iat is_copy sub add_prefix isin rename_axis sem align nsmallest replace mode diff to_xarray reorder_levels between_time get_values rsub bfill to_dense pow copy notnull dot round count cumprod dropna cummax floordiv empty to_timestamp head at cumsum ne ndim to_pickle rank expanding iloc mod irow le resample multiply get_value to_msgpack divide to_json to_string median clip_lower plot tail add_suffix keys pipe ewm rfloordiv filter prod pct_change rmod mul T any rename last as_matrix truediv iget_value dtypes var apply to_csv to_sparse drop set_value all equals to_dict consolidate quantile asfreq where mask at_time to_sql eq gt ix ftypes ge fillna cov blocks sample mad swaplevel tshift get_dtype_counts isnull subtract max div convert_objects slice_shift idxmin get interpolate

### copy 해서 변경하기

In [274]:
df11 = pd.DataFrame(np.arange(16).reshape(4,4), index=['a','b','c','d'],columns=['f','g','h','i'])
print(df11)

df_co = df11.copy()


df_co['f'] = 99
print(df_co)

    f   g   h   i
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
    f   g   h   i
a  99   1   2   3
b  99   5   6   7
c  99   9  10  11
d  99  13  14  15

### 삽입하기  

    dataframe 일 경우에만 삽입이 존재한다.

In [51]:
df11 = pd.DataFrame(np.arange(16).reshape(4,4), index=['a','b','c','d'],columns=['f','g','h','i'])
print(df11)

df11.insert(4,'j',[99,99,99,99])
print(df11)

    f   g   h   i
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
    f   g   h   i   j
a   0   1   2   3  99
b   4   5   6   7  99
c   8   9  10  11  99
d  12  13  14  15  99

In [52]:
ser = pd.Series([99,99,99,99],index=['a','b','c','d'])
df11.insert(5,'k',ser)
print(df11)

    f   g   h   i   j   k
a   0   1   2   3  99  99
b   4   5   6   7  99  99
c   8   9  10  11  99  99
d  12  13  14  15  99  99

#### index가 맞지 않으면 값이 처리되지 않고 NaN으로 처리된다.

In [53]:
ser = pd.Series([99,99,99,99],index=['a','b','c','f'])
df11.insert(6,'l',ser)
print(df11)

    f   g   h   i   j   k     l
a   0   1   2   3  99  99  99.0
b   4   5   6   7  99  99  99.0
c   8   9  10  11  99  99  99.0
d  12  13  14  15  99  99   NaN

### 삭제 처리

In [56]:
ser1 = pd.Series([991,992,993,994],index=['a','b','c','f'])

print(ser1.pop())

TypeError: pop() missing 1 required positional argument: 'item'

In [58]:
ser1 = pd.Series([991,992,993,994],index=['a','b','c','f'])

print(ser1.pop('a'))
print(ser1)

991
b    992
c    993
f    994
dtype: int64

#### dataframe 은 칼럼을 삭제한다.

In [60]:
df211 = pd.DataFrame(np.arange(16).reshape(4,4), index=['a','b','c','d'],columns=['f','g','h','i'])
print(df211)

print(df211.pop('f'))
print(df211)

    f   g   h   i
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
a     0
b     4
c     8
d    12
Name: f, dtype: int32
    g   h   i
a   1   2   3
b   5   6   7
c   9  10  11
d  13  14  15

#### dataframe은 index로 삭제가 불가하다.

In [61]:
print(df211.pop('a'))
print(df211)

KeyError: 'a'

### 원소 값에 대한 변경

In [66]:
help(pd.DataFrame.replace)

Help on function replace in module pandas.core.generic:

replace(self, to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad', axis=None)
    Replace values given in 'to_replace' with 'value'.

    Parameters
    ----------
    to_replace : str, regex, list, dict, Series, numeric, or None

        * str or regex:

            - str: string exactly matching `to_replace` will be replaced
              with `value`
            - regex: regexs matching `to_replace` will be replaced with
              `value`

        * list of str, regex, or numeric:

            - First, if `to_replace` and `value` are both lists, they
              **must** be the same length.
            - Second, if ``regex=True`` then all of the strings in **both**
              lists will be interpreted as regexs otherwise they will match
              directly. This doesn't matter much for `value` since there
              are only a few possible substitution regexes you can use.
            - str and regex rules apply as above.

        * dict:

            - Nested dictionaries, e.g., {'a': {'b': nan}}, are read as
              follows: look in column 'a' for the value 'b' and replace it
              with nan. You can nest regular expressions as well. Note that
              column names (the top-level dictionary keys in a nested
              dictionary) **cannot** be regular expressions.
            - Keys map to column names and values map to substitution
              values. You can treat this as a special case of passing two
              lists except that you are specifying the column to search in.

        * None:

            - This means that the ``regex`` argument must be a string,
              compiled regular expression, or list, dict, ndarray or Series
              of such elements. If `value` is also ``None`` then this
              **must** be a nested dictionary or ``Series``.

        See the examples section for examples of each of these.
    value : scalar, dict, list, str, regex, default None
        Value to use to fill holes (e.g. 0), alternately a dict of values
        specifying which value to use for each column (columns not in the
        dict will not be filled). Regular expressions, strings and lists or
        dicts of such objects are also allowed.
    inplace : boolean, default False
        If True, in place. Note: this will modify any
        other views on this object (e.g. a column form a DataFrame).
        Returns the caller if this is True.
    limit : int, default None
        Maximum size gap to forward or backward fill
    regex : bool or same types as `to_replace`, default False
        Whether to interpret `to_replace` and/or `value` as regular
        expressions. If this is ``True`` then `to_replace` *must* be a
        string. Otherwise, `to_replace` must be ``None`` because this
        parameter will be interpreted as a regular expression or a list,
        dict, or array of regular expressions.
    method : string, optional, {'pad', 'ffill', 'bfill'}
        The method to use when for replacement, when ``to_replace`` is a
        ``list``.

    See Also
    --------
    NDFrame.reindex
    NDFrame.asfreq
    NDFrame.fillna

    Returns
    -------
    filled : NDFrame

    Raises
    ------
    AssertionError
        * If `regex` is not a ``bool`` and `to_replace` is not ``None``.
    TypeError
        * If `to_replace` is a ``dict`` and `value` is not a ``list``,
          ``dict``, ``ndarray``, or ``Series``
        * If `to_replace` is ``None`` and `regex` is not compilable into a
          regular expression or is a list, dict, ndarray, or Series.
    ValueError
        * If `to_replace` and `value` are ``list`` s or ``ndarray`` s, but
          they are not the same length.

    Notes
    -----
    * Regex substitution is performed under the hood with ``re.sub``. The
      rules for substitution for ``re.sub`` are the same.
    * Regular expressions will only substitute on strings, meaning you
      cannot provide, for example, a regular expression matching floating
      point numbers and expect the columns in your frame that have a
      numeric dtype to be matched. However, if those floating point numbers
      *are* strings, then you can do this.
    * This method has *a lot* of options. You are encouraged to experiment
      and play with this method to gain intuition about how it works.

In [65]:
df311 = pd.DataFrame(np.arange(16).reshape(4,4), index=['a','b','c','d'],columns=['f','g','h','i'])
print(df311)

print(df311.replace(to_replace=(0,1), value= 999,inplace=True))
print(df311)

    f   g   h   i
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
None
     f    g   h   i
a  999  999   2   3
b    4    5   6   7
c    8    9  10  11
d   12   13  14  15

### apply 함수 처리

In [89]:
df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
     index=pd.date_range('1/1/2000', periods=10))

print(df)

                   A         B         C
2000-01-01 -1.030203 -0.717284 -0.301743
2000-01-02  0.133003 -1.423914  0.329262
2000-01-03  0.877480  1.126716  1.805201
2000-01-04 -1.837164  0.486881  1.728766
2000-01-05 -2.634887 -1.054740 -0.095228
2000-01-06  1.116206  0.019441 -1.667554
2000-01-07 -0.450895 -0.032350  1.167661
2000-01-08  1.920311 -1.333337 -0.924421
2000-01-09 -0.860377 -0.576421 -1.852752
2000-01-10  0.198359  0.178002 -3.131822

In [90]:
print(df.apply(sum))

A   -2.568167
B   -3.327006
C   -2.942631
dtype: float64

In [92]:
print(df.apply(np.mean))

A   -0.256817
B   -0.332701
C   -0.294263
dtype: float64

In [93]:
print(df.mean())

A   -0.256817
B   -0.332701
C   -0.294263
dtype: float64

### rank 처리 

    원소들에 대한 값에 대한 랭킹을 처리하는 메소드

In [103]:
df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
     index=pd.date_range('1/1/2000', periods=10))

print(df.rank())

               A     B     C
2000-01-01   3.0   3.0   7.0
2000-01-02  10.0   8.0   6.0
2000-01-03   5.0   7.0  10.0
2000-01-04   4.0   9.0   2.0
2000-01-05   6.0   5.0   4.0
2000-01-06   2.0  10.0   3.0
2000-01-07   9.0   2.0   5.0
2000-01-08   1.0   6.0   1.0
2000-01-09   8.0   4.0   8.0
2000-01-10   7.0   1.0   9.0

In [106]:
ser = pd.Series(np.random.randn(10))
print(ser)
print(ser.rank())

0   -0.812202
1   -0.969141
2    1.167040
3    1.699708
4   -0.274448
5   -1.145297
6    0.051291
7    2.391520
8    2.155629
9   -0.879643
dtype: float64
0     4.0
1     2.0
2     7.0
3     8.0
4     5.0
5     1.0
6     6.0
7    10.0
8     9.0
9     3.0
dtype: float64

### 정렬 처리

In [125]:
ser = pd.Series(np.random.randn(10))
print(ser)
print(ser.sort_values(inplace=True))
print(ser)

0    0.060567
1    0.762475
2   -0.486921
3    1.212198
4    0.820771
5    0.608726
6   -0.002529
7    1.918500
8    1.929536
9    0.298806
dtype: float64
None
2   -0.486921
6   -0.002529
0    0.060567
9    0.298806
5    0.608726
1    0.762475
4    0.820771
3    1.212198
7    1.918500
8    1.929536
dtype: float64

In [126]:
print(ser.sort_values())
print(ser.sort_values().sort_index())

2   -0.486921
6   -0.002529
0    0.060567
9    0.298806
5    0.608726
1    0.762475
4    0.820771
3    1.212198
7    1.918500
8    1.929536
dtype: float64
0    0.060567
1    0.762475
2   -0.486921
3    1.212198
4    0.820771
5    0.608726
6   -0.002529
7    1.918500
8    1.929536
9    0.298806
dtype: float64

In [122]:
df1 = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
     index=pd.date_range('1/1/2000', periods=10))

print(df1.sort_values(by="A",ascending=False,inplace=True))

None

In [123]:
print(df1)

                   A         B         C
2000-01-01  2.721728  1.924218  0.117119
2000-01-06  1.688482 -0.134109 -2.244782
2000-01-04  1.042141  0.666614 -1.612180
2000-01-05  0.903802  0.136032 -2.389722
2000-01-09  0.519410  0.258359 -0.349569
2000-01-03  0.259110  1.271215 -1.343754
2000-01-07 -0.381164  1.003865 -0.441253
2000-01-10 -0.459808 -0.332008  0.792390
2000-01-08 -1.333233 -2.473316 -0.717524
2000-01-02 -1.795803 -0.705365 -0.302948

### 최대값과 최소값 구하기

In [128]:
df1 = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
     index=pd.date_range('1/1/2000', periods=10))

print(df1.max())

A    1.922135
B    1.422202
C    1.292713
dtype: float64

In [129]:
print(df1.min())

A   -1.902992
B   -1.113499
C   -1.749228
dtype: float64

In [130]:
print(df1.idxmax())

A   2000-01-01
B   2000-01-01
C   2000-01-09
dtype: datetime64[ns]

In [131]:
print(df1.idxmin())

A   2000-01-07
B   2000-01-05
C   2000-01-06
dtype: datetime64[ns]

In [137]:
df1 = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
     index=pd.date_range('1/1/2000', periods=10))
print(df1)
print(df1.cummax())

                   A         B         C
2000-01-01  0.445001  0.729450 -0.218367
2000-01-02  0.071596 -3.198077 -0.200682
2000-01-03 -0.039830  1.559799 -0.530600
2000-01-04  0.662832 -1.802425  0.954724
2000-01-05  0.918204 -0.244426 -2.409715
2000-01-06 -0.267013 -0.427436 -0.799769
2000-01-07  0.440625  1.025092 -0.390997
2000-01-08  1.317619  1.563203 -0.155002
2000-01-09 -0.277984  0.664255  1.543079
2000-01-10  0.034500  0.295781  1.924157
                   A         B         C
2000-01-01  0.445001  0.729450 -0.218367
2000-01-02  0.445001  0.729450 -0.200682
2000-01-03  0.445001  1.559799 -0.200682
2000-01-04  0.662832  1.559799  0.954724
2000-01-05  0.918204  1.559799  0.954724
2000-01-06  0.918204  1.559799  0.954724
2000-01-07  0.918204  1.559799  0.954724
2000-01-08  1.317619  1.563203  0.954724
2000-01-09  1.317619  1.563203  1.543079
2000-01-10  1.317619  1.563203  1.924157

In [138]:
print(df1)
print(df1.cummin())

                   A         B         C
2000-01-01  0.445001  0.729450 -0.218367
2000-01-02  0.071596 -3.198077 -0.200682
2000-01-03 -0.039830  1.559799 -0.530600
2000-01-04  0.662832 -1.802425  0.954724
2000-01-05  0.918204 -0.244426 -2.409715
2000-01-06 -0.267013 -0.427436 -0.799769
2000-01-07  0.440625  1.025092 -0.390997
2000-01-08  1.317619  1.563203 -0.155002
2000-01-09 -0.277984  0.664255  1.543079
2000-01-10  0.034500  0.295781  1.924157
                   A         B         C
2000-01-01  0.445001  0.729450 -0.218367
2000-01-02  0.071596 -3.198077 -0.218367
2000-01-03 -0.039830 -3.198077 -0.530600
2000-01-04 -0.039830 -3.198077 -0.530600
2000-01-05 -0.039830 -3.198077 -2.409715
2000-01-06 -0.267013 -3.198077 -2.409715
2000-01-07 -0.267013 -3.198077 -2.409715
2000-01-08 -0.267013 -3.198077 -2.409715
2000-01-09 -0.277984 -3.198077 -2.409715
2000-01-10 -0.277984 -3.198077 -2.409715

## 누적값 구하기

In [139]:
df1.cumsum()

                   A         B         C
2000-01-01  0.445001  0.729450 -0.218367
2000-01-02  0.516597 -2.468627 -0.419049
2000-01-03  0.476767 -0.908828 -0.949649
2000-01-04  1.139600 -2.711253  0.005076
2000-01-05  2.057803 -2.955679 -2.404639
2000-01-06  1.790790 -3.383115 -3.204408
2000-01-07  2.231415 -2.358023 -3.595405
2000-01-08  3.549034 -0.794820 -3.750407
2000-01-09  3.271050 -0.130565 -2.207328
2000-01-10  3.305551  0.165216 -0.283171

In [140]:
df1.cumprod()

                   A         B         C
2000-01-01  0.445001  0.729450 -0.218367
2000-01-02  0.031860 -2.332837  0.043822
2000-01-03 -0.001269 -3.638756 -0.023252
2000-01-04 -0.000841  6.558587 -0.022199
2000-01-05 -0.000772 -1.603087  0.053494
2000-01-06  0.000206  0.685217 -0.042783
2000-01-07  0.000091  0.702411  0.016728
2000-01-08  0.000120  1.098011 -0.002593
2000-01-09 -0.000033  0.729359 -0.004001
2000-01-10 -0.000001  0.215731 -0.007699

### 사칙연산

In [154]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3), columns=['A', 'B', 'C'])
df2 = pd.DataFrame(np.arange(1,10).reshape(3,3) *3, columns=['A', 'B', 'C'])
print(df1)
print(df2)

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8
    A   B   C
0   3   6   9
1  12  15  18
2  21  24  27

In [166]:
print(df1.add(df2))
print(df1.sub(df2))
print(df1.radd(df2))
print(df1.rsub(df2))
print(df1.subtract(df2))

    A   B   C
0   3   7  11
1  15  19  23
2  27  31  35
    A   B   C
0  -3  -5  -7
1  -9 -11 -13
2 -15 -17 -19
    A   B   C
0   3   7  11
1  15  19  23
2  27  31  35
    A   B   C
0   3   5   7
1   9  11  13
2  15  17  19
    A   B   C
0  -3  -5  -7
1  -9 -11 -13
2 -15 -17 -19

In [156]:
print(df1.divide(df2))
print(df1.truediv(df2))
print(df1.floordiv(df2))
print(df1.div(df2))

          A         B         C
0  0.000000  0.166667  0.222222
1  0.250000  0.266667  0.277778
2  0.285714  0.291667  0.296296
          A         B         C
0  0.000000  0.166667  0.222222
1  0.250000  0.266667  0.277778
2  0.285714  0.291667  0.296296
   A  B  C
0  0  0  0
1  0  0  0
2  0  0  0
          A         B         C
0  0.000000  0.166667  0.222222
1  0.250000  0.266667  0.277778
2  0.285714  0.291667  0.296296

In [159]:
print(df1.mul(df2))
print(df1.rmul(df2))
print(df1.multiply(df2))
print(df1.mod(df2))

     A    B    C
0    0    6   18
1   36   60   90
2  126  168  216
     A    B    C
0    0    6   18
1   36   60   90
2  126  168  216
     A    B    C
0    0    6   18
1   36   60   90
2  126  168  216
   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [171]:
print(df1.pow(df2))
print(df1.rpow(df2))

            A           B          C
0           0           1        512
1      531441  1073741824  766306777
2  1449132032  1452577857          0
          A          B           C
0         1          6          81
1      1728      50625     1889568
2  85766121  291504128 -1038305055

### 비교연산

In [169]:
print(df1.le(df2))
print(df1.ne(df2))

      A     B     C
0  True  True  True
1  True  True  True
2  True  True  True
      A     B     C
0  True  True  True
1  True  True  True
2  True  True  True

In [168]:
print(df1.eq(df2))
print(df1.equals(df2))

       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False
False

In [163]:
print(df1.ge(df2))

       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False

In [164]:
print(df1.lt(df2))

      A     B     C
0  True  True  True
1  True  True  True
2  True  True  True

In [165]:
print(df1.gt(df2))

       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False

### 조건별로 처리하기

In [189]:
df1.take([0],axis=0)

   A  B  C
0  0  1  2

In [191]:
help(df1.select)

Help on method select in module pandas.core.generic:

select(crit, axis=0) method of pandas.core.frame.DataFrame instance
    Return data corresponding to axis labels matching criteria

    Parameters
    ----------
    crit : function
        To be called on each index (label). Should return True or False
    axis : int

    Returns
    -------
    selection : type of caller

In [193]:
df1.select(lambda x: x <1,axis=0)

   A  B  C
0  0  1  2

In [195]:
help(df1.where)

Help on method where in module pandas.core.generic:

where(cond, other=nan, inplace=False, axis=None, level=None, try_cast=False, raise_on_error=True) method of pandas.core.frame.DataFrame instance
    Return an object of same shape as self and whose corresponding
    entries are from self where cond is True and otherwise are from
    other.

    Parameters
    ----------
    cond : boolean NDFrame, array or callable
        If cond is callable, it is computed on the NDFrame and
        should return boolean NDFrame or array.
        The callable must not change input NDFrame
        (though pandas doesn't check it).

        .. versionadded:: 0.18.1

        A callable can be used as cond.

    other : scalar, NDFrame, or callable
        If other is callable, it is computed on the NDFrame and
        should return scalar or NDFrame.
        The callable must not change input NDFrame
        (though pandas doesn't check it).

        .. versionadded:: 0.18.1

        A callable can be used as other.

    inplace : boolean, default False
        Whether to perform the operation in place on the data
    axis : alignment axis if needed, default None
    level : alignment level if needed, default None
    try_cast : boolean, default False
        try to cast the result back to the input type (if possible),
    raise_on_error : boolean, default True
        Whether to raise on invalid data types (e.g. trying to where on
        strings)

    Returns
    -------
    wh : same type as caller

In [194]:
df1.where(lambda x: x <1,axis=0)

     A   B   C
0  0.0 NaN NaN
1  NaN NaN NaN
2  NaN NaN NaN

### 절대값 처리

In [197]:
df11 = -1* df1
print(df11)

print(abs(df11))

   A  B  C
0  0 -1 -2
1 -3 -4 -5
2 -6 -7 -8
   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

### 다른 형태로 변환하기

In [173]:
df1.to_json()

'{"A":{"0":0,"1":3,"2":6},"B":{"0":1,"1":4,"2":7},"C":{"0":2,"1":5,"2":8}}'

In [241]:
df1.as_matrix()

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [275]:
df1.as_blocks()

{'int32':    A  B  C
 0  0  1  2
 1  3  4  5
 2  6  7  8}

In [184]:
d = df1.to_dict()
print(d)
print(df1.from_dict(d))

{'A': {0: 0, 1: 3, 2: 6}, 'C': {0: 2, 1: 5, 2: 8}, 'B': {0: 1, 1: 4, 2: 7}}
   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [182]:
df1.to_csv("data.csv")
print(df1.from_csv("data.csv"))

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [177]:
df1.to_string()

'   A  B  C\n0  0  1  2\n1  3  4  5\n2  6  7  8'

In [178]:
df1.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>A</th>\n      <th>B</th>\n      <th>C</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>0</td>\n      <td>1</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>3</td>\n      <td>4</td>\n      <td>5</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>6</td>\n      <td>7</td>\n      <td>8</td>\n    </tr>\n  </tbody>\n</table>'

In [180]:
df1.to_pickle("data.pkl")

### 특정 날짜 인덱스의 일부를 조회하기

In [238]:
help(dfa1.first)

Help on method first in module pandas.core.generic:

first(offset) method of pandas.core.frame.DataFrame instance
    Convenience method for subsetting initial periods of time series data
    based on a date offset.

    Parameters
    ----------
    offset : string, DateOffset, dateutil.relativedelta

    Examples
    --------
    ts.first('10D') -> First 10 days

    Returns
    -------
    subset : type of caller

In [239]:
dfa1 = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
     index=pd.date_range('1/1/2000',periods=10))
dfa1.first('3D')

                   A         B         C
2000-01-01  0.193022  2.150309  0.326392
2000-01-02  0.557821  0.289315  0.645696
2000-01-03 -0.362893 -0.414961  0.605459

In [240]:
dfa1.last('3D')

                   A         B         C
2000-01-08  0.091322  1.873662 -0.233480
2000-01-09  0.100331  1.518379 -1.452594
2000-01-10 -1.155062  0.691866 -1.448892

### 특정 컬럼에 큰 값이나 작은 값을 조회

In [248]:
dfa1.nlargest(3,columns='A')

                   A         B         C
2000-01-05  1.111170  0.938332 -0.104852
2000-01-02  0.557821  0.289315  0.645696
2000-01-06  0.484249  0.556453  0.006105

In [249]:
dfa1.nsmallest(3,columns='A')

                   A         B         C
2000-01-10 -1.155062  0.691866 -1.448892
2000-01-04 -0.462389  0.288112  0.023539
2000-01-07 -0.371468  2.196942  1.402377

### datatime index 변환하기

In [200]:
help(dfa1.to_period)

Help on method to_period in module pandas.core.frame:

to_period(freq=None, axis=0, copy=True) method of pandas.core.frame.DataFrame instance
    Convert DataFrame from DatetimeIndex to PeriodIndex with desired
    frequency (inferred from index if not passed)

    Parameters
    ----------
    freq : string, default
    axis : {0 or 'index', 1 or 'columns'}, default 0
        The axis to convert (the index by default)
    copy : boolean, default True
        If False then underlying input data is not copied

    Returns
    -------
    ts : TimeSeries with PeriodIndex

In [217]:
dfa1 = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
     index=pd.date_range('1/1/2000',periods=10))
print(dfa1.index)
print(dfa1.to_period().index)

print(dfa1.to_period().to_timestamp().index)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')
PeriodIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
             '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
             '2000-01-09', '2000-01-10'],
            dtype='int64', freq='D')
DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

###  반복자 처리 하기

In [212]:
dfa1 = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
     index=pd.date_range('1/1/2000',periods=10))

for i in dfa1.iteritems() :
    print(i)

('A', 2000-01-01   -1.174204
2000-01-02    1.112969
2000-01-03    1.402323
2000-01-04   -1.509344
2000-01-05    1.070161
2000-01-06    0.431090
2000-01-07    1.247063
2000-01-08    0.603113
2000-01-09    1.986832
2000-01-10   -1.204808
Freq: D, Name: A, dtype: float64)
('B', 2000-01-01    1.126097
2000-01-02   -0.465048
2000-01-03    0.539852
2000-01-04   -0.120748
2000-01-05    0.092564
2000-01-06   -0.380590
2000-01-07    0.032382
2000-01-08    0.060806
2000-01-09   -0.057642
2000-01-10   -0.203952
Freq: D, Name: B, dtype: float64)
('C', 2000-01-01   -1.251036
2000-01-02   -0.068990
2000-01-03    1.577593
2000-01-04    2.006353
2000-01-05    0.218188
2000-01-06   -0.341393
2000-01-07    0.592830
2000-01-08    0.898263
2000-01-09    1.141988
2000-01-10   -0.088157
Freq: D, Name: C, dtype: float64)

In [213]:

for i in dfa1.iterrows() :
    print(i)

(Timestamp('2000-01-01 00:00:00', offset='D'), A   -1.174204
B    1.126097
C   -1.251036
Name: 2000-01-01 00:00:00, dtype: float64)
(Timestamp('2000-01-02 00:00:00', offset='D'), A    1.112969
B   -0.465048
C   -0.068990
Name: 2000-01-02 00:00:00, dtype: float64)
(Timestamp('2000-01-03 00:00:00', offset='D'), A    1.402323
B    0.539852
C    1.577593
Name: 2000-01-03 00:00:00, dtype: float64)
(Timestamp('2000-01-04 00:00:00', offset='D'), A   -1.509344
B   -0.120748
C    2.006353
Name: 2000-01-04 00:00:00, dtype: float64)
(Timestamp('2000-01-05 00:00:00', offset='D'), A    1.070161
B    0.092564
C    0.218188
Name: 2000-01-05 00:00:00, dtype: float64)
(Timestamp('2000-01-06 00:00:00', offset='D'), A    0.431090
B   -0.380590
C   -0.341393
Name: 2000-01-06 00:00:00, dtype: float64)
(Timestamp('2000-01-07 00:00:00', offset='D'), A    1.247063
B    0.032382
C    0.592830
Name: 2000-01-07 00:00:00, dtype: float64)
(Timestamp('2000-01-08 00:00:00', offset='D'), A    0.603113
B    0.060806
C    0.898263
Name: 2000-01-08 00:00:00, dtype: float64)
(Timestamp('2000-01-09 00:00:00', offset='D'), A    1.986832
B   -0.057642
C    1.141988
Name: 2000-01-09 00:00:00, dtype: float64)
(Timestamp('2000-01-10 00:00:00', offset='D'), A   -1.204808
B   -0.203952
C   -0.088157
Name: 2000-01-10 00:00:00, dtype: float64)

In [214]:
for i in dfa1.itertuples() :
    print(i)

Pandas(Index=Timestamp('2000-01-01 00:00:00', offset='D'), A=-1.1742039393815158, B=1.1260968399441831, C=-1.2510356782385206)
Pandas(Index=Timestamp('2000-01-02 00:00:00', offset='D'), A=1.1129694303436386, B=-0.46504751049942983, C=-0.068990033076514759)
Pandas(Index=Timestamp('2000-01-03 00:00:00', offset='D'), A=1.4023234888100715, B=0.53985185262957203, C=1.5775933883851581)
Pandas(Index=Timestamp('2000-01-04 00:00:00', offset='D'), A=-1.5093439531668416, B=-0.12074839258672755, C=2.0063533629515917)
Pandas(Index=Timestamp('2000-01-05 00:00:00', offset='D'), A=1.0701606223659899, B=0.092563568217389425, C=0.21818849458141992)
Pandas(Index=Timestamp('2000-01-06 00:00:00', offset='D'), A=0.43109022035531863, B=-0.38059004370028782, C=-0.34139283727645459)
Pandas(Index=Timestamp('2000-01-07 00:00:00', offset='D'), A=1.2470627750629542, B=0.032382052375598262, C=0.59283027015763334)
Pandas(Index=Timestamp('2000-01-08 00:00:00', offset='D'), A=0.60311265786583368, B=0.060806312772681455, C=0.8982632498877452)
Pandas(Index=Timestamp('2000-01-09 00:00:00', offset='D'), A=1.9868323241911228, B=-0.057641975089419518, C=1.1419876022620827)
Pandas(Index=Timestamp('2000-01-10 00:00:00', offset='D'), A=-1.2048084351162449, B=-0.20395172727089245, C=-0.088157072138872514)

### 통계 관련  메소드

In [224]:
df1

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [284]:
df2

    A   B   C
0   3   6   9
1  12  15  18
2  21  24  27

#### 공분산

In [289]:
help(df2.cov)

Help on method cov in module pandas.core.frame:

cov(min_periods=None) method of pandas.core.frame.DataFrame instance
    Compute pairwise covariance of columns, excluding NA/null values

    Parameters
    ----------
    min_periods : int, optional
        Minimum number of observations required per pair of columns
        to have a valid result.

    Returns
    -------
    y : DataFrame

    Notes
    -----
    `y` contains the covariance matrix of the DataFrame's time series.
    The covariance is normalized by N-1 (unbiased estimator).

In [287]:
df2.cov()

      A     B     C
A  81.0  81.0  81.0
B  81.0  81.0  81.0
C  81.0  81.0  81.0

#### 상관계수

In [290]:
help(df2.corr)

Help on method corr in module pandas.core.frame:

corr(method='pearson', min_periods=1) method of pandas.core.frame.DataFrame instance
    Compute pairwise correlation of columns, excluding NA/null values

    Parameters
    ----------
    method : {'pearson', 'kendall', 'spearman'}
        * pearson : standard correlation coefficient
        * kendall : Kendall Tau correlation coefficient
        * spearman : Spearman rank correlation
    min_periods : int, optional
        Minimum number of observations required per pair of columns
        to have a valid result. Currently only available for pearson
        and spearman correlation

    Returns
    -------
    y : DataFrame

In [288]:
df2.corr()

     A    B    C
A  1.0  1.0  1.0
B  1.0  1.0  1.0
C  1.0  1.0  1.0

In [283]:
df1.describe()

         A    B    C
count  3.0  3.0  3.0
mean   3.0  4.0  5.0
std    3.0  3.0  3.0
min    0.0  1.0  2.0
25%    1.5  2.5  3.5
50%    3.0  4.0  5.0
75%    4.5  5.5  6.5
max    6.0  7.0  8.0

In [291]:
df1.var()

A    9.0
B    9.0
C    9.0
dtype: float64

### shift 이동하기

In [227]:
help(df1.shift)

Help on method shift in module pandas.core.frame:

shift(periods=1, freq=None, axis=0) method of pandas.core.frame.DataFrame instance
    Shift index by desired number of periods with an optional time freq

    Parameters
    ----------
    periods : int
        Number of periods to move, can be positive or negative
    freq : DateOffset, timedelta, or time rule string, optional
        Increment to use from datetools module or time rule (e.g. 'EOM').
        See Notes.
    axis : {0, 1, 'index', 'columns'}

    Notes
    -----
    If freq is specified then the index values are shifted but the data
    is not realigned. That is, use freq if you would like to extend the
    index when shifting and preserve the original data.

    Returns
    -------
    shifted : DataFrame

In [228]:
df1.shift(0)

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [230]:
df1.shift(1)

     A    B    C
0  NaN  NaN  NaN
1  0.0  1.0  2.0
2  3.0  4.0  5.0

In [262]:
a = df1.shift(2)
print(a)
a.fillna(0)

     A    B    C
0  NaN  NaN  NaN
1  NaN  NaN  NaN
2  0.0  1.0  2.0

     A    B    C
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  1.0  2.0

In [232]:
df1

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

###  the compound percentage of the values

In [221]:
help(df1.compound)

Help on method compound in module pandas.core.generic:

compound(axis=None, skipna=None, level=None) method of pandas.core.frame.DataFrame instance
    Return the compound percentage of the values for the requested axis

    Parameters
    ----------
    axis : {index (0), columns (1)}
    skipna : boolean, default True
        Exclude NA/null values. If an entire row/column is NA, the result
        will be NA
    level : int or level name, default None
        If the axis is a MultiIndex (hierarchical), count along a
        particular level, collapsing into a Series
    numeric_only : boolean, default None
        Include only float, int, boolean data. If None, will attempt to use
        everything, then use only numeric data

    Returns
    -------
    compounded : Series or DataFrame (if level specified)

In [218]:
df1

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [222]:
df1.compound(0)

A     27
B     79
C    161
dtype: int32

In [223]:
df1.compound(1)

0      5
1    119
2    503
dtype: int32

## nan 값 처리

In [257]:
help(dfna.fillna)

Help on method fillna in module pandas.core.frame:

fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs) method of pandas.core.frame.DataFrame instance
    Fill NA/NaN values using the specified method

    Parameters
    ----------
    value : scalar, dict, Series, or DataFrame
        Value to use to fill holes (e.g. 0), alternately a
        dict/Series/DataFrame of values specifying which value to use for
        each index (for a Series) or column (for a DataFrame). (values not
        in the dict/Series/DataFrame will not be filled). This value cannot
        be a list.
    method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
        Method to use for filling holes in reindexed Series
        pad / ffill: propagate last valid observation forward to next valid
        backfill / bfill: use NEXT valid observation to fill gap
    axis : {0, 1, 'index', 'columns'}
    inplace : boolean, default False
        If True, fill in place. Note: this will modify any
        other views on this object, (e.g. a no-copy slice for a column in a
        DataFrame).
    limit : int, default None
        If method is specified, this is the maximum number of consecutive
        NaN values to forward/backward fill. In other words, if there is
        a gap with more than this number of consecutive NaNs, it will only
        be partially filled. If method is not specified, this is the
        maximum number of entries along the entire axis where NaNs will be
        filled.
    downcast : dict, default is None
        a dict of item->dtype of what to downcast if possible,
        or the string 'infer' which will try to downcast to an appropriate
        equal type (e.g. float64 to int64 if possible)

    See Also
    --------
    reindex, asfreq

    Returns
    -------
    filled : DataFrame

In [265]:
dfna = pd.DataFrame(np.arange(9).reshape(3,3))
dfna[[0,0]] = np.NaN
print(dfna)

print(dfna.isnull())

b = dfna.dropna(axis=1)
print(b)
print(b.notnull())

    0  1  2
0 NaN  1  2
1 NaN  4  5
2 NaN  7  8
      0      1      2
0  True  False  False
1  True  False  False
2  True  False  False
   1  2
0  1  2
1  4  5
2  7  8
      1     2
0  True  True
1  True  True
2  True  True

In [ ]:

unstack
duplicated
transpose
reset_index
ffill
tz_convert
kurt
to_clipboard
last_valid_index
update
memory_usage
squeeze
combine
truncate
astype
first_valid_index
drop_duplicates
hist
tz_localize
to_hdf
reindex_axis
rolling
swapaxes
reindex_like
clip
combine_first
sortlevel
kurtosis
xs
product
skew
sort
set_axis
get_ftype_counts
clip_upper
add_prefix
isin
rename_axis
sem
align
mode
diff
reorder_levels
between_time
bfill
to_dense
dot
round
to_timestamp
expanding
irow
resample
to_msgpack
clip_lower
plot
add_suffix
pipe
ewm
filter
pct_change
rename
iget_value
to_sparse
consolidate
quantile
asfreq
mask
at_time
to_sql
ftypes
sample
mad
swaplevel
tshift
get_dtype_counts
convert_objects
slice_shift
interpolate