## 데이터 프레임 내의 열은 하나의 시리즈이다.

    리터럴로 생성할 때 일단 딕셔너리로 처리했고 값은 리스트로 처리했다.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})

In [3]:
df

   a  b
0  1  4
1  2  5
2  3  6

### 2차원 리스트로 처리할 때는 내부적으로 열단위 처리하도록 구성한다.

In [42]:
df1 = pd.DataFrame([[1,2,3],[4,5,6]])

In [43]:
df1

   0  1  2
0  1  2  3
1  4  5  6

## 데이터 프레임은 칼럼과 인덱스가 별도의 인스턴스이다.

In [40]:
df.columns

Index(['a', 'b'], dtype='object')

In [29]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [44]:
df1.columns

RangeIndex(start=0, stop=3, step=1)

In [45]:
df1.index

RangeIndex(start=0, stop=2, step=1)

## 실제 내부적인 데이터는 넘파이의 어래이로 관리한다.

In [41]:
df.values

array([[99,  4],
       [99,  5],
       [99,  6]])

In [47]:
df1.values

array([[1, 2, 3],
       [4, 5, 6]])

### 데이터 프레임은 기본으로 칼럼 단위로 처리하므로 실제 칼럼명으로 모든 것을 조회 및 갱신할 수 있다.

In [27]:
type(df['a'])

pandas.core.series.Series

In [31]:
df['a'] = 99

print(df['a'])

0    99
1    99
2    99
Name: a, dtype: int64

In [53]:
df1[1]

0    99
1    99
Name: 1, dtype: int64

In [54]:
df1[1] = 99

print(df1[1])

0    99
1    99
Name: 1, dtype: int64

##  칼럼의 문자열로 정의될 경우는 실제 점연산자 접근이 가능하다,

In [51]:
df.b

0    4
1    5
2    6
Name: b, dtype: int64

In [52]:
df.b = 88

In [64]:
df1.2

SyntaxError: invalid syntax (<ipython-input-64-8ac7a1616f19>, line 1)

## 데이터 프레임을 만들고 이를 순환문으로 처리하면 실제 칼럼정보만 처리된다.

In [55]:
for i in df :
    print(i)

a
b

In [56]:
df['a'], type(df['a'])

(0    99
 1    99
 2    99
 Name: a, dtype: int64, pandas.core.series.Series)

##  데이터 프레임 행으로 읽어오기

In [57]:
for i in df.iterrows() :
    print(i)

(0, a    99
b    88
Name: 0, dtype: int64)
(1, a    99
b    88
Name: 1, dtype: int64)
(2, a    99
b    88
Name: 2, dtype: int64)

In [58]:
print(df.iterrows())

<generator object DataFrame.iterrows at 0x115f1c5c8>

In [59]:
for i,s in df.iterrows() :
    print(i,s,type(s))

0 a    99
b    88
Name: 0, dtype: int64 <class 'pandas.core.series.Series'>
1 a    99
b    88
Name: 1, dtype: int64 <class 'pandas.core.series.Series'>
2 a    99
b    88
Name: 2, dtype: int64 <class 'pandas.core.series.Series'>

## 데이터 프레임에 있는 원소를 열로 가져오기

In [60]:
print(df.iteritems())

<generator object DataFrame.iteritems at 0x115f1c990>

In [61]:
for i, s in df.iteritems() :
    print(i,s, type(s))

a 0    99
1    99
2    99
Name: a, dtype: int64 <class 'pandas.core.series.Series'>
b 0    88
1    88
2    88
Name: b, dtype: int64 <class 'pandas.core.series.Series'>

In [62]:
print(df.items())

<generator object DataFrame.iteritems at 0x115f1ca98>

In [63]:
for i,s in df.items() :
    print(i,s, type(s))

a 0    99
1    99
2    99
Name: a, dtype: int64 <class 'pandas.core.series.Series'>
b 0    88
1    88
2    88
Name: b, dtype: int64 <class 'pandas.core.series.Series'>